<div
  class="main-wrapper"
  fxLayout="column"
  fxLayoutGap="3%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <app-navbar></app-navbar>

  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="3%">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="3%">
      <p-dropdown
        *ngIf="selectedGoal === ''"
        [options]="allGoals"
        [(ngModel)]="chosenGoal"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Select a goal (Optional)"
      ></p-dropdown>
      <h1 style="white-space: nowrap" *ngIf="selectedGoal === ''">
        - Meeting Title:
      </h1>
      <input
        matInput
        [(ngModel)]="meetingTitle"
        #meetingTitleInput="ngModel"
        class="input"
        type="text"
        style="height: 2vw"
        placeholder="Insert Meeting Title Here"
      />
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="3%">
      <form
        #assignMeetingEmployeeForm="ngForm"
        ngNativeValidate
        name="assignMeetingEmployee"
        (ngSubmit)="assignMeetingEmployee(assignMeetingEmployeeForm)"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="space-around start"
          fxLayoutGap="3%"
        >
          <label style="white-space: nowrap"
            >Select employees for meeting:</label
          >
          <div
            fxLayout="row"
            fxLayoutAlign="space-around start"
            fxLayoutGap="5%"
          >
            <p-dropdown
              [options]="employees"
              optionLabel="fullName"
              name="selectedMeetingEmployees"
              ngModel
              #selectedPhysicalEmployees="ngModel"
              placeholder="Please select an employee"
              [filter]="true"
              filterBy="fullName"
              [style]="{ width: '15vw' }"
            >
              <ng-template let-user pTemplate="item">
                <div fxLayout="row" fxLayoutGap="3%">
                  <img
                    *ngIf="user.isVaccinated && !user.isInfected"
                    src="../../../../../assets/images/vaccinatedIcon.svg"
                  />
                  <img
                    *ngIf="!user.isVaccinated && !user.isInfected"
                    src="../../../../../assets/images/unvaccinatedIcon.svg"
                  />
                  <img
                    *ngIf="user.isInfected"
                    src="../../../../../assets/images/covidIcon.svg"
                  />
                  <div>{{ user.fullName }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <button mat-button class="peach-btn" type="submit">Add</button>
          </div>

          <table
            style="overflow: auto"
            *ngFor="let meetingEmployee of assignedMeetingEmployees"
          >
            <tr>
              <div
                *ngIf="assignedMeetingEmployees.length !== 0"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                fxLayoutGap="15%"
              >
                <div fxLayout="row" fxLayoutGap="3%">
                  <img
                    *ngIf="meetingEmployee.isVaccinated"
                    src="../../../../../assets/images/vaccinatedIcon.svg"
                  />
                  <img
                    *ngIf="!meetingEmployee.isVaccinated"
                    src="../../../../../assets/images/unvaccinatedIcon.svg"
                  />
                  <p style="white-space: nowrap; font-size: 1.4vw">
                    {{ meetingEmployee.fullName }}
                  </p>
                </div>
                <button
                  mat-button
                  style="background-color: inherit"
                  (click)="unassignMeetingEmployee(meetingEmployee)"
                >
                  <img
                    style="cursor: pointer; height: 1.5em; width: 1.5em"
                    src="../../../../../assets/images/deleteIcon.png"
                  />
                </button>
              </div>
              <div *ngIf="assignedMeetingEmployees.length === 0">
                <p>Assign employees to the task!</p>
              </div>
            </tr>
          </table>
        </div>
      </form>
    </div>

    <div fxLayout="column" fxLayoutGap="15%">
      <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="10%">
        <div
          fxLayout="column"
          fxLayoutAlign="space-around start"
          fxLayoutGap="3%"
        >
          <label style="white-space: nowrap">Meeting Date: </label>
          <input
            matInput
            [(ngModel)]="meetingDate"
            #meetingDateInput="ngModel"
            class="input"
            type="date"
            style="height: 2vw"
            disabled="assignedPhysicalEmployees.length === 0 && assignedVirtualEmployees.length === 0"
          />
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="space-around start"
          fxLayoutGap="3%"
        >
          <label style="white-space: nowrap">Meeting Start: </label>
          <input
            matInput
            [(ngModel)]="startTime"
            #startTimeInput="ngModel"
            class="input"
            type="time"
            step="3600"
            style="height: 2vw"
            min="company.officeOpeningHour"
            max="company.officeClosingHour"
            disabled="assignedPhysicalEmployees.length === 0 && assignedVirtualEmployees.length === 0"
          />
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="space-around start"
          fxLayoutGap="3%"
        >
          <label style="white-space: nowrap">Meeting End: </label>
          <input
            matInput
            [(ngModel)]="endTime"
            #endTimeInput="ngModel"
            class="input"
            type="time"
            step="3600"
            style="height: 2vw"
            min="startTime"
            max="company.officeClosingHour"
            disabled="assignedPhysicalEmployees.length === 0 && assignedVirtualEmployees.length === 0"
          />
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="space-around start"
          fxLayoutGap="3%"
        >
          <!-- <mat-select
            placeholder="Schedule Type (optional)"
            [(ngModel)]="scheduleType"
          >
            <mat-option *ngFor="let type of scheduleType" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select> -->
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="3%">
        <form
          #assignPhysicalEmployeeForm="ngForm"
          ngNativeValidate
          name="assignPhysicalEmployee"
          (ngSubmit)="assignPhysicalEmployee(assignPhysicalEmployeeForm)"
        >
          <div
            fxLayout="column"
            fxLayoutAlign="space-around start"
            fxLayoutGap="3%"
          >
            <label style="white-space: nowrap"
              >Add Physical Employees (Max
              {{ company.officeCapacity }} attendees):</label
            >
            <div
              fxLayout="row"
              fxLayoutAlign="space-around start"
              fxLayoutGap="5%"
            >
              <p-dropdown
                [options]="assignedMeetingEmployees"
                optionLabel="fullName"
                name="selectedPhysicalEmployees"
                ngModel
                #selectedPhysicalEmployees="ngModel"
                placeholder="Please select an employee"
                [filter]="true"
                filterBy="fullName"
                [style]="{ width: '15vw' }"
                optionDisabled="isInfected"
              >
                <ng-template let-user pTemplate="item">
                  <div fxLayout="row" fxLayoutGap="3%">
                    <img
                      *ngIf="user.isVaccinated && !user.isInfected"
                      src="../../../../../assets/images/vaccinatedIcon.svg"
                    />
                    <img
                      *ngIf="!user.isVaccinated && !user.isInfected"
                      src="../../../../../assets/images/unvaccinatedIcon.svg"
                    />
                    <img
                      *ngIf="user.isInfected"
                      src="../../../../../assets/images/covidIcon.svg"
                    />
                    <div>{{ user.fullName }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <button mat-button class="peach-btn" type="submit">Add</button>
            </div>

            <table
              style="overflow: auto"
              *ngFor="let physicalEmployee of assignedPhysicalEmployees"
            >
              <tr>
                <div
                  *ngIf="assignedPhysicalEmployees.length !== 0"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  fxLayoutGap="15%"
                >
                  <div fxLayout="row" fxLayoutGap="3%">
                    <img
                      *ngIf="physicalEmployee.isVaccinated"
                      src="../../../../../assets/images/vaccinatedIcon.svg"
                    />
                    <img
                      *ngIf="!physicalEmployee.isVaccinated"
                      src="../../../../../assets/images/unvaccinatedIcon.svg"
                    />
                    <p style="white-space: nowrap; font-size: 1.4vw">
                      {{ physicalEmployee.fullName }}
                    </p>
                  </div>
                  <button
                    mat-button
                    style="background-color: inherit"
                    (click)="unassignPhysicalEmployee(physicalEmployee)"
                  >
                    <img
                      style="cursor: pointer; height: 1.5em; width: 1.5em"
                      src="../../../../../assets/images/deleteIcon.png"
                    />
                  </button>
                </div>
                <div *ngIf="assignedPhysicalEmployees.length === 0">
                  <p>Assign employees to the task!</p>
                </div>
              </tr>
            </table>
          </div>
        </form>

        <form
          #assignVirtualEmployeeForm="ngForm"
          ngNativeValidate
          name="assignVirtualEmployee"
          (ngSubmit)="assignVirtualEmployee(assignVirtualEmployeeForm)"
        >
          <div
            fxLayout="column"
            fxLayoutAlign="space-around start"
            fxLayoutGap="3%"
          >
            <label style="white-space: nowrap">Add Virtual Employees:</label>
            <div
              fxLayout="row"
              fxLayoutAlign="space-around start"
              fxLayoutGap="5%"
            >
              <p-dropdown
                [options]="assignedMeetingEmployees"
                optionLabel="fullName"
                name="selectedVirtualEmployees"
                ngModel
                #selectedVirtualEmployees="ngModel"
                placeholder="Please select an employee"
                [filter]="true"
                filterBy="fullName"
                [style]="{ width: '15vw' }"
              >
                <ng-template let-user pTemplate="item">
                  <div fxLayout="row" fxLayoutGap="3%">
                    <img
                      *ngIf="user.isVaccinated && !user.isInfected"
                      src="../../../../../assets/images/vaccinatedIcon.svg"
                    />
                    <img
                      *ngIf="!user.isVaccinated && !user.isInfected"
                      src="../../../../../assets/images/unvaccinatedIcon.svg"
                    />
                    <img
                      *ngIf="user.isInfected"
                      src="../../../../../assets/images/covidIcon.svg"
                    />
                    <div>{{ user.fullName }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <button mat-button class="peach-btn" type="submit">Add</button>
            </div>

            <table
              style="overflow: auto"
              *ngFor="let virtualEmployee of assignedVirtualEmployees"
            >
              <tr>
                <div
                  *ngIf="assignedVirtualEmployees.length !== 0"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  fxLayoutGap="15%"
                >
                  <div fxLayout="row" fxLayoutGap="3%">
                    <img
                      *ngIf="virtualEmployee.isVaccinated"
                      src="../../../../../assets/images/vaccinatedIcon.svg"
                    />
                    <img
                      *ngIf="!virtualEmployee.isVaccinated"
                      src="../../../../../assets/images/unvaccinatedIcon.svg"
                    />
                    <p style="white-space: nowrap; font-size: 1.4vw">
                      {{ virtualEmployee.fullName }}
                    </p>
                  </div>
                  <button
                    mat-button
                    style="background-color: inherit"
                    (click)="unassignVirtualEmployee(virtualEmployee)"
                  >
                    <img
                      style="cursor: pointer; height: 1.5em; width: 1.5em"
                      src="../../../../../assets/images/deleteIcon.png"
                    />
                  </button>
                </div>
                <div *ngIf="assignedVirtualEmployees.length === 0">
                  <p>Assign employees to the task!</p>
                </div>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="space-around start"
      fxLayoutGap="20%"
      fxFlex="100%"
    >
      <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="3%">
        <form
          #chooseMeetingRoomForm="ngForm"
          ngNativeValidate
          name="chooseMeetingRoomForm"
          (ngSubmit)="chooseMeetingRoom(chooseMeetingRoomForm)"
        >
          <div
            fxLayout="column"
            fxLayoutAlign="space-around start"
            fxLayoutGap="3%"
          >
            <label style="white-space: nowrap"
              >Choose Meeting Room (only for Physical Meetings):</label
            >
            <div
              fxLayout="row"
              fxLayoutAlign="space-around start"
              fxLayoutGap="5%"
            >
              <p-dropdown
                [options]="rooms"
                optionLabel="name"
                name="selectedRoom"
                ngModel
                #selectedRoom="ngModel"
                placeholder="Please select a room"
                [filter]="true"
                filterBy="name"
                [style]="{ width: '15vw' }"
                [disabled]="assignedPhysicalEmployees.length === 0"
              >
                <ng-template let-room pTemplate="item">
                  <div fxLayout="column" fxLayoutGap="3%">
                    <div>Room Name: {{ room.name }}</div>
                    <div>Room Capacity: {{ room.capacity }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <button mat-button class="peach-btn" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="space-around start"
        fxLayoutGap="3%"
      >
        <div
          *ngIf="
            meetingTitleInput.touched &&
            (meetingTitleInput.value === null || meetingTitleInput.value === '')
          "
          class="errorText"
          style="color: red"
        >
          Task Name cannot be empty!
        </div>
        <div
          *ngIf="endTimeInput.value < startTimeInput.value"
          class="errorText"
          style="color: red"
        >
          The Meeting timing is set incorrectly!
        </div>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="space-around start"
        fxLayoutGap="3%"
      >
        <label>Remarks: </label>
        <textarea
          matInput
          [(ngModel)]="remarks"
          placeholder="Insert Remarks Here"
          class="input"
          cols="50"
          rows="6"
          wrap="hard"
        ></textarea>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="3%">
        <button
          mat-button
          class="peach-btn"
          (click)="createNewMeeting()"
          [disabled]="
            meetingTitleInput.value === null ||
            meetingTitleInput.value === '' ||
            endTimeInput.value < startTimeInput.value
          "
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
