<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
  <button
    class="massInviteButtons"
    style="height: 5vw"
    (click)="downloadNewCsv()"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="2%"
      style="padding: 2% 2% 2% 2%"
    >
      <p style="font-size: 1.2vw">Download New</p>
      <p style="font-size: 1.2vw">Template CSV</p>
    </div>
  </button>
  <button
    class="massInviteButtons"
    style="height: 5vw"
    [disabled]="company.employeeCsv === null"
    [ngStyle]="{ opacity: company.employeeCsv === null ? '0.5' : '1' }"
    (click)="downloadExistingCsv()"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="2%"
      style="padding: 2% 2% 2% 2%"
    >
      <p style="font-size: 1.2vw">Download Latest</p>
      <p style="font-size: 1.2vw">Uploaded CSV</p>
    </div>
  </button>
</div>
