<div fxLayout="column" fxLayoutGap="3%" style="width: 100%; height: 100%; padding: 2% 2% 2% 2%">
  <app-navbar></app-navbar>

  <mat-card class="companyDetails">
    <mat-card-title class="itemTitle">Company Name</mat-card-title>
    <mat-card-content class="companySettings">
      <div class="left">
        <p>
          <h4>Company ID</h4>
          <br> {{companyToUpdate.companyId}}
        <form #updateCompanyDetailsForm="ngForm" (ngSubmit)="update(updateCompanyDetailsForm)" >
          <p>
            <h4>Company Email</h4>
            <br> {{companyToUpdate.email}}
          <td width="20%" style="font-weight: bold;">Company Email</td>
				<td><input id="email" name="email" #name="ngModel" type="text" [(ngModel)]="companyToUpdate.email" required="true" /></td>
          <p>
            <h4>Contact Number</h4>
            <br> {{companyToUpdate.contactNumber}}
          <td width="20%" style="font-weight: bold;">Contact Number</td>
				<td><input id="contactNumber" name="contactNumber" #name="ngModel" type="text" [(ngModel)]="companyToUpdate.contactNumber" required="true" /></td>
        </form>
        <p>
          <h4>Number of employees</h4>
          <br> {{companyToUpdate.companySize}}
        <button class="saveCompanyDetails" mat-button (click)="onSaveCompanyDetailsClick()">Save</button>
        <button class="backButton" mat-button (click)="onBackButtonClick()">Back</button>
      </div>
      <div class="right">
        <div class="officeSpace">
          <p>
            <h4>Office Name</h4>
            <br> {{companyToUpdate.name}}
          <p>
            <h4>Office Address</h4>
            <br> {{companyToUpdate.officeAddress}}
          <p>
            <h4>Office Opening Hours</h4>
            <br> {{companyToUpdate.officeOpeningHour}}
          <p>
            <h4>Office Capacity</h4>
            <br> {{companyToUpdate.officeCapacity}}
          <button class="configureOfficeSpace" mat-button (click)="onConfigureOfficeSpaceClick()">Configure Office
            Space</button>
        </div>
        <div class="subscription">
          <p>
            <h4>Subscription Plan</h4>
            <br> {{companyToUpdate.subscriptionType}}
          <button class="manageSubscription" mat-button (click)="onManageSubscriptionClick()">Manage
            Subscription</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>