.input {
  border-color: rgba(var(--theme-primary-color), 0.25);
  border-width: 1px;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  color: rgba(var(--theme-primary-color), .80);
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 10 / 10%) 1px 1px 3px 0px;
}
