<div
  style="width: 100%; text-align: center; padding: 0.25rem 0"
  [ngStyle]="{ 'background-color': meeting.color }"
>
  <h2>{{ title }}</h2>
</div>

<div
  fxLayout="column"
  fxLayoutGap="5%"
  style="width: 100%; height: 100%; padding: 1rem"
>
  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>Date:</h3>
    <p>{{ start | date: "shortDate" }}</p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>Time:</h3>
    <p>{{ start | date: "shortTime" }} - {{ end | date: "shortTime" }}</p>
  </div>

  <div
    fxLayout="column"
    fxLayoutGap="2%"
    fxLayoutAlign="start start"
    style="width: 100%; height: 100%"
  >
    <h3>In Office ({{ pAttCount }}):</h3>
    <p *ngFor="let pAtt of physicalAttendees">{{ pAtt.fullName }}</p>
  </div>

  <div
    fxLayout="column"
    fxLayoutGap="2%"
    fxLayoutAlign="start start"
    style="width: 100%; height: 100%"
  >
    <h3>Online ({{ vAttCount }}):</h3>
    <p *ngFor="let vAtt of virtualAttendees">{{ vAtt.fullName }}</p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start left"
    style="width: 100%; height: 100%"
    *ngIf="room"
  >
    <h3>Location:</h3>
    <p>{{ room.name }}</p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start left"
    style="width: 100%; height: 100%"
  >
    <h3>Remarks:</h3>
    <p>{{ meeting.remarks }}</p>
  </div>

  <button mat-button class="peach-btn" *ngIf="isOrganiser">
    <img
      class="actionIcon"
      src="../../../../assets/images/editIcon.png"
      style="cursor: pointer; height: 1em; width: 1em"
    />Edit Meeting Details
  </button>
</div>
