<div
  style="
    width: 100%;
    background-color: rgb(var(--secondary-button-color));
    text-align: center;
    padding: 0.25rem 0;
  "
>
  <h2>Meeting Title</h2>
</div>

<div
  fxLayout="column"
  fxLayoutGap="5%"
  style="width: 100%; height: 100%; padding: 1rem"
>
  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>Date:</h3>
    <p>test</p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>Time:</h3>
    <p></p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>In Office (0):</h3>
    <p></p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>Online (0):</h3>
    <p></p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>Location:</h3>
    <p></p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="5%"
    fxLayoutAlign="flex-start center"
    style="width: 100%; height: 100%"
  >
    <h3>Remarks:</h3>
    <p></p>
  </div>

  <button mat-button class="peach-btn">
    <img
      class="actionIcon"
      src="../../../../assets/images/editIcon.png"
      style="cursor: pointer; height: 1em; width: 1em"
    />Edit Meeting Details
  </button>
</div>
