.headerText {
  font-family: var(--primary-font);
  color: rgba(var(--theme-primary-color), 0.8);
  font-weight: bold;
}

.subHeaderText {
  font-weight: bold;
  font-family: var(--primary-font);
  color: rgba(var(--theme-primary-color), 0.8);
}

.contentText {
  font-weight: lighter;
  font-family: var(--primary-font);
  color: rgba(var(--theme-primary-color), 0.5);
}

.backButton {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: var(--primary-font);
  color: rgba(var(--theme-primary-color), 0.8);
}

.editActionButtons {
  background-color: rgba(var(--primary-button-color), 0.5);
  font-family: var(--primary-font);
  color: rgba(var(--theme-primary-color), 0.8);
}

.inputFields {
  font-weight: lighter;
}

@media only screen and (max-width: 768px) {
  .headerText {
    font-size: 1.5rem;
  }

  .subHeaderText {
    font-size: 17px;
  }

  .contentText {
    font-size: 15px;
  }

  .logoImage {
    width: 140px;
    height: auto;
  }

  .backButton {
    height: 35px;
    width: auto;
  }

  .button {
    height: 35px;
    width: 200px;
  }

  .editActionButtons {
    height: 35px;
    width: auto;
  }

  .inputFields {
    width: 200px;
    height: 30px;
  }
}

@media only screen and (min-width: 769px) {
  .headerText {
    font-size: 1.5rem;
  }

  .subHeaderText {
    font-size: 23px;
  }

  .contentText {
    font-size: 20px;
  }

  .logoImage {
    width: 270px;
    height: auto;
  }

  .backButton {
    height: 40px;
    width: 80px;
  }

  .button {
    height: 40px;
    width: 230px;
  }

  .editActionButtons {
    height: 40px;
    width: 80px;
  }

  .inputFields {
    width: 300px;
    height: 40px;
  }

  .disabledButton {
    height: 40px;
    width: 230px;
  }
}
