/****** Path Selector ******/
.pathSelector {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.secondRow {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pathItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 166, 135, 0.2);
  width: 420px;
  height: 260px;
}

.itemTitle {
  color: #003764;
  font-family: Source Sans Pro;
  opacity: 1;
}

mat-card img{
  object-fit: contain;
  width: 45%;
  height: auto;
}

.mat-card-content {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: flex-end;
}
