<p-toast></p-toast>

<div
  fxLayout="column"
  fxLayoutGap="3%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <div>
    <div fxLayout="row" fxLayoutGap="2%">
      <h1
        *ngIf="task.goalId && !isEditMode"
        style="font-weight: bold; font-size: 30px"
      >
        {{ task.goalName }} -
      </h1>
      <h1 *ngIf="!isEditMode" style="font-weight: bold; font-size: 30px">
        {{ task.name }}
      </h1>
      <div *ngIf="isEditMode">
        <p-dropdown
          [options]="allGoals"
          [(ngModel)]="updateGoal"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select a goal"
        ></p-dropdown>
      </div>
      <h1 *ngIf="isEditMode">-</h1>
      <div
        fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutGap="2%"
        *ngIf="isEditMode"
      >
        <input
          matInput
          [(ngModel)]="updateTaskName"
          #taskNameInput="ngModel"
          class="input"
          type="text"
          style="height: 2.2vw"
        />
        <div
          *ngIf="
            taskNameInput.touched &&
            (taskNameInput.value === '' || taskNameInput.value === undefined)
          "
          class="errorText"
          style="color: red"
        >
          Task Name cannot be empty.
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div
      fxLayout="row"
      fxLayoutGap="4%"
      fxLayoutAlign="start space-between"
      style="font-size: 20px; width: 100%"
    >
      <div fxLayout="column" fxLayoutGap="10px">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="2%"
        >
          <label>Start Date:</label>
          <p *ngIf="!isEditMode">{{ task.startDate | date: "dd/MM/yy" }}</p>
          <div *ngIf="isEditMode" fxLayout="column" fxLayoutGap="3%">
            <input
              matInput
              [(ngModel)]="updateStartDate"
              #startDateInput="ngModel"
              class="input"
              type="date"
              style="height: 2vw"
            />
            <div
              *ngIf="
                startDateInput.touched &&
                (startDateInput.value === '' ||
                  startDateInput.value === undefined)
              "
              class="errorText"
              style="color: red; font-size: small; white-space: nowrap"
            >
              Start Date must not be empty.
            </div>
            <div
              *ngIf="startDateInput.touched && updateStartDate > updateDeadline"
              class="errorText"
              style="color: red; font-size: small; white-space: nowrap"
            >
              Start Date must be before deadline.
            </div>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="2%"
        >
          <label>Deadline:</label>
          <p *ngIf="!isEditMode">
            {{ task.deadline | date: "dd/MM/yy" }}
          </p>
          <div *ngIf="isEditMode" fxLayout="column" fxLayoutGap="3%">
            <input
              matInput
              [(ngModel)]="updateDeadline"
              #deadlineInput="ngModel"
              class="input"
              type="date"
              style="height: 2vw"
            />
            <div
              *ngIf="
                deadlineInput.touched &&
                (deadlineInput.value === '' ||
                  deadlineInput.value === undefined)
              "
              class="errorText"
              style="color: red; font-size: small; white-space: nowrap"
            >
              Deadline Date must not be empty.
            </div>
            <div
              *ngIf="deadlineInput.touched && updateStartDate > updateDeadline"
              class="errorText"
              style="color: red; font-size: small; white-space: nowrap"
            >
              Start Date must be before deadline.
            </div>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="2%"
        >
          <label>Completion Date:</label>
          <span *ngIf="task.completionDate !== null">
            <p>
              {{ task.completionDate | date: "dd/MM/yy" }}
            </p>
          </span>
          <span *ngIf="!task.completionDate"><p>-</p></span>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div><label>Task Supervisor</label>:</div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <img
            *ngIf="task.supervisor.isVaccinated && !task.supervisor.isInfected"
            src="../../../../assets/images/vaccinatedIcon.svg"
          />
          <img
            *ngIf="!task.supervisor.isVaccinated && !task.supervisor.isInfected"
            src="../../../../assets/images/unvaccinatedIcon.svg"
          />
          <img
            *ngIf="task.supervisor.isInfected"
            src="../../../../assets/images/covidIcon.svg"
          />
          <div>{{ task.supervisor.fullName }}</div>
        </div>
        <br />
        <div fxLayout="column" fxLayoutGap="10px">
          <div>
            <label><u>Assigned Personnel</u></label
            >:
          </div>
          <div *ngFor="let employee of personnel">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
              <img
                *ngIf="employee.isVaccinated && !employee.isInfected"
                src="../../../../assets/images/vaccinatedIcon.svg"
              />
              <img
                *ngIf="!employee.isVaccinated && !employee.isInfected"
                src="../../../../assets/images/unvaccinatedIcon.svg"
              />
              <img
                *ngIf="employee.isInfected"
                src="../../../../assets/images/covidIcon.svg"
              />
              <div>{{ employee.fullName }}</div>
              <div *ngIf="isSupervisor">
                <button mat-icon-button (click)="deleteUser(employee.userId)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isSupervisor" style="text-align: left">
          <button mat-button class="peach-btn" (click)="toggleAssignMore()">
            Assign More
          </button>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="assignPopup" [closable]="false" [showHeader]="false">
    <p-listbox
      [options]="unassignedPersonnel"
      [filter]="true"
      optionLabel="fullName"
      [multiple]="true"
      [(ngModel)]="selectedEmployees"
      [checkbox]="true"
      optionDisabled="isInfected"
    ></p-listbox>
    <button mat-button style="width: 100%" (click)="toggleAssignMore()">
      Done
    </button>
  </p-dialog>
  <br />
  <h1><u>Discussion</u></h1>
  <mat-card
    class="peach-card"
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="2%"
  >
    <div fxLayout="column" fxLayoutAlign="start center" style="width: 60%">
      <h3>Thread</h3>
      <br />
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="2%"
        style="width: 100%"
      >
        <mat-card
          *ngFor="let comment of comments"
          class="comment-line {{ renderCommentColor(comment) }}"
        >
          <div
            *ngIf="!isInEditCommentMode(comment)"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            style="width: 100%"
            fxLayoutGap="8px"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="16px"
              style="width: calc(100% - 3em)"
            >
              <div>{{ renderCommentSender(comment) }}:</div>
              <div>{{ comment.content }}</div>
            </div>
            <img
              *ngIf="renderCommentSender(comment) === 'Me'"
              src="../../../../assets/images/editIcon.png"
              alt="edit comment"
              class="action-icon"
              (click)="openEditCommentMode(comment)"
            />
            <img
              *ngIf="renderCommentSender(comment) === 'Me'"
              src="../../../../assets/images/deleteIcon.png"
              alt="delete comment"
              class="action-icon"
              (click)="openDeleteCommentDialog(comment)"
            />
          </div>
          <!-- To edit comment  -->
          <div
            *ngIf="isInEditCommentMode(comment)"
            fxLayout="column"
            fxLayoutAlign="center center"
            style="width: 100%"
          >
            <mat-form-field style="width: 100%">
              <mat-label style="font-size: 14px">Edit message:</mat-label>
              <textarea
                matInput
                [(ngModel)]="updatedContent"
                [maxLength]="500"
                style="padding: 0"
              ></textarea>
            </mat-form-field>
            <div fxLayoutAlign="end end" fxLayoutGap="4px" style="width: 100%">
              <button
                mat-button
                class="grey-btn compact"
                (click)="closeEditCommentMode()"
              >
                Cancel
              </button>
              <button
                mat-button
                class="peach-btn compact"
                [disabled]="!updatedCommentIsValid()"
                (click)="updateComment()"
              >
                Save
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <hr class="vertical-divider" />
    <div fxLayout="column" fxLayoutAlign="start center" style="width: 40%">
      <h3>New Comment</h3>
      <br />
      <mat-card
        class="comment-block"
        fxLayout="column"
        fxLayoutAlign="center start"
        style="width: 100%"
      >
        <mat-form-field style="width: 100%; height: 100%">
          <mat-label>Message:</mat-label>
          <textarea
            matInput
            [(ngModel)]="newCommentMessage"
            rows="8"
            [maxLength]="500"
          ></textarea>
        </mat-form-field>
        <br />
        <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%">
          <button
            mat-button
            class="peach-btn"
            [disabled]="!commentIsValid()"
            (click)="submitComment()"
          >
            Submit
          </button>
        </div>
      </mat-card>
    </div>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="3%">
    <button
      mat-button
      *ngIf="isEditMode"
      class="peach-btn"
      (click)="saveDetails()"
    >
      Save Details
    </button>
    <button
      mat-button
      *ngIf="isEditMode"
      class="grey-btn"
      (click)="toggleEditDetails()"
    >
      Close
    </button>

    <button
      mat-button
      *ngIf="!isEditMode && isSupervisor"
      class="peach-btn"
      (click)="isEditMode = true"
    >
      Edit Details
    </button>
    <button
      mat-button
      *ngIf="!isViewArchivedClicked && !isEditMode"
      class="grey-btn"
      (click)="archive()"
    >
      Archive
    </button>
    <button
      mat-button
      *ngIf="isViewArchivedClicked && !isEditMode"
      class="peach-btn"
      (click)="unarchive()"
    >
      Unarchive
    </button>
    <button
      mat-button
      *ngIf="!isEditMode"
      class="grey-btn"
      (click)="closeDialog()"
    >
      Close
    </button>
  </div>
</div>
