.cal-wfo-circle {
  height: 0.6em;
  width: 0.6em;
  border: 2px solid rgb(65, 105, 225);
  border-radius: 50%;
}
.cal-wfo-circle.filled {
  background-color: rgb(65, 105, 225);
}
.cal-wfo-circle.grey {
  cursor: auto;
  border: 2px solid rgb(169, 169, 169);
}
.cal-wfo-circle.filled.grey {
  cursor: auto;
  background-color: rgb(169, 169, 169);
}
.wfo-selector {
  float: left;
  margin-left: 10%;
  margin-top: 10%;
  cursor: pointer;
}
.blockout-date {
  font-size: 1.2em;
  font-weight: 100;
  color: rgb(var(--theme-primary-color), 0.5);
  opacity: 1;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
  margin-bottom: 10px;
}
.blockout-text {
  font-size: 1.2em;
  font-weight: 100;
  color: rgb(var(--theme-primary-color), 0.5);
  opacity: 1;
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}
