<div
  fxLayout="column"
  fxLayoutGap="2%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <app-navbar></app-navbar>

  <div
    fxLayout="column"
    fxLayoutGap="2%"
    style="width: 100%; height: 100%; padding: 0 2%"
  >
    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <span class="cal-day-number">{{
          day.date | calendarDate: "monthViewDayNumber":locale
        }}</span>
        <span *ngIf="isWfoSelectable(day.date)" class="wfo-selector">
          <div
            *ngIf="isSelectorDisabled(day.date) && isWfoSelected(day.date)"
            class="cal-wfo-circle filled grey"
          ></div>
          <div
            *ngIf="isSelectorDisabled(day.date) && !isWfoSelected(day.date)"
            class="cal-wfo-circle grey"
          ></div>
          <div
            *ngIf="!isSelectorDisabled(day.date) && isWfoSelected(day.date)"
            class="cal-wfo-circle filled"
            (click)="onUnselectDay(day.date)"
          ></div>
          <div
            *ngIf="!isSelectorDisabled(day.date) && !isWfoSelected(day.date)"
            class="cal-wfo-circle"
            (click)="onSelectDay(day.date)"
          ></div>
        </span>
      </div>
      <button
        mat-button
        *ngFor="let event of day.events"
        class="cal-event-btn"
        [ngStyle]="{ 'background-color': event.color }"
        (click)="viewMeeting(event)"
      >
        {{ event.title }}
      </button>
    </ng-template>

    <ng-template
      #customEventTemplate
      let-weekEvent="weekEvent"
      let-locale="locale"
    >
      <button
        mat-button
        class="cal-week-btn"
        [ngStyle]="{ 'background-color': weekEvent.event.color }"
        (click)="viewMeeting(weekEvent.event)"
      >
        {{ weekEvent.event.title }}
      </button>
    </ng-template>

    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="width: 100%; height: 100%"
    >
      <h1>{{ company.name }}'s Calendar</h1>
      <button
        *ngIf="!isWfoSelectionMode"
        button
        mat-button
        class="blue-btn"
        (click)="viewWfoMode()"
      >
        Work From Office
      </button>
      <button
        *ngIf="isWfoSelectionMode"
        mat-button
        class="{{ wfoAllowanceCount >= 0 ? 'blue-btn' : 'red-btn' }}"
        disabled="{{ wfoAllowanceCount < 0 }}"
        (click)="escViewWfoMode()"
      >
        Remaining number of days: {{ wfoAllowanceCount }}
      </button>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="width: 100%; height: 100%"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="left center"
        fxLayoutGap="2%"
        style="width: 80%"
      >
        <div class="btn-group-border">
          <button
            mat-button
            [ngClass]="{ 'peach-btn': view == CalendarView.Month }"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
            style="color: rgb(var(--theme-primary-color))"
          >
            Month
          </button>
          <button
            mat-button
            [ngClass]="{ 'peach-btn': view == CalendarView.Week }"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
            style="color: rgb(var(--theme-primary-color))"
          >
            Week
          </button>
        </div>
        <mat-checkbox [checked]="isPhysical" (change)="togglePhysical()"
          >In-Office</mat-checkbox
        >
        <mat-checkbox [checked]="isVirtual" (change)="toggleVirtual()"
          >Online</mat-checkbox
        >
        <mat-checkbox [checked]="myMeetings" (change)="toggleMine()"
          >My Meetings Only</mat-checkbox
        >
        <p-multiSelect
          [options]="employees"
          optionLabel="fullName"
          [(ngModel)]="selectedEmployees"
          placeholder="Select employees"
          [filter]="true"
          [showToggleAll]="false"
          filterBy="fullName"
          [style]="{ width: '16vw' }"
          (onPanelHide)="handleAttendees()"
          (onChange)="handleAttendees()"
        >
          <ng-template let-user pTemplate="item">
            <div fxLayout="row" fxLayoutGap="3%">
              <img
                *ngIf="user.isVaccinated && !user.isInfected"
                src="../../../../../assets/images/vaccinatedIcon.svg"
              />
              <img
                *ngIf="!user.isVaccinated && !user.isInfected"
                src="../../../../../assets/images/unvaccinatedIcon.svg"
              />
              <img
                *ngIf="user.isInfected"
                src="../../../../../assets/images/covidIcon.svg"
              />
              <div>{{ user.fullName }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
      <button (click)="scheduleMeeting()" mat-button class="peach-btn">
        + Schedule Meeting
      </button>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="3%"
      style="width: 100%; height: 100%"
    >
      <div
        class="btn-arrow"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <
      </div>

      <div style="text-align: center">
        <h1>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h1>
      </div>

      <div
        class="btn-arrow"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        >
      </div>
    </div>

    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        (beforeViewRender)="beforeMonthViewRender($event)"
        [viewDate]="viewDate"
        [events]="events"
        [cellTemplate]="customCellTemplate"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [eventTemplate]="customEventTemplate"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
