.page-title {
  font-size: 25px;
  color: rgb(var(--title-color));
  font-weight: 400;
}

.beige-block {
  background-color: rgb(var(--secondary-card-color));
  border-radius: 25px;
  padding: 5% 10%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.profile-image {
  background-color: lightgrey;
  width: 8rem;
  height: 8rem;
  border-radius: 100px;
  margin-bottom: 3%;
}

.profile-btn-wrap,
.basic-info-wrap,
.covid-info-wrap,
.work-info-wrap {
  margin-bottom: 5%;
}

.grey-btn {
  font-family: var(--primary-font);
  background: rgba(var(--theme-primary-color), 0.15);
  color: rgb(var(--title-color));
  font-size: 16px;
  font-weight: 500;
}

.inputField {
  font-weight: lighter;
}

.viewProfileDetails {
  gap: 35%;
  max-width: inherit;
}

.editProfileDetails {
  gap: 8vw;
  max-width: inherit;
}

.light-font {
  opacity: 0.5;
}
