<p-toast></p-toast>

<div
  fxLayout="column"
  fxLayoutGap="3%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <app-navbar></app-navbar>

  <mat-card class="beige-block">
    <form #updateForm="ngForm" (ngSubmit)="closeProfileEdit(updateForm)">
      <mat-card-group fxLayoutAlign="center center" fxLayout="column">
        <mat-card-title>My Profile</mat-card-title>
        <div mat-card-avatar class="profile-image"></div>
      </mat-card-group>

      <mat-card-group
        class="basic-info-wrap"
        fxLayout="column"
        fxLayoutGap="2%"
      >
        <h2 style="text-decoration: underline; align-self: flex-start">
          Basic Information
        </h2>

        <div
          fxLayout="row"
          fxLayoutAlign="space-between stretch"
          [ngClass]="{
            editProfileDetails: editDetailsMode,
            viewProfileDetails: !editDetailsMode
          }"
        >
          <div
            fxLayout="column"
            fxLayoutAlign="flex-start"
            fxLayoutGap=".125em"
          >
            <label for="fullName">Name</label>

            <p class="light-font" *ngIf="!editDetailsMode">
              {{ user.fullName }}
            </p>
            <input
              pInputText
              ngNativeValidate
              required
              *ngIf="editDetailsMode"
              class="inputField"
              [(ngModel)]="fullName"
              name="fullName"
              id="fullName"
              #fullNameInput="ngModel"
            />
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="flex-start"
            fxLayoutGap=".125em"
          >
            <label for="email">Email</label>

            <p class="light-font">{{ user.email }}</p>
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="flex-start"
            fxLayoutGap=".125em"
          >
            <label for="contactNumber">Contact</label>

            <p class="light-font" *ngIf="!editDetailsMode">
              {{ user.contactNumber }}
            </p>
            <input
              pInputText
              ngNativeValidate
              required
              *ngIf="editDetailsMode"
              class="inputField"
              [(ngModel)]="contactNumber"
              name="contactNumber"
              id="contactNumber"
              #contactNumberInput="ngModel"
            />
          </div>
        </div>
      </mat-card-group>

      <div
        class="profile-btn-wrap"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="5%"
      >
        <button
          mat-button
          class="peach-btn"
          *ngIf="!editDetailsMode"
          (click)="changePasswordDialog()"
        >
          Change password
        </button>
        <button
          mat-button
          class="grey-btn"
          (click)="editDetailsMode = true"
          *ngIf="!editDetailsMode"
        >
          Edit Profile
        </button>
        <button
          mat-button
          class="peach-btn"
          type="submit"
          *ngIf="editDetailsMode"
          (click)="editDetails()"
        >
          Save Changes
        </button>
        <button
          mat-button
          class="grey-btn"
          type="button"
          *ngIf="editDetailsMode"
          (click)="toggleEditMode()"
        >
          Back
        </button>
      </div>
    </form>

    <mat-card-group class="covid-info-wrap" fxLayout="column" fxLayoutGap="2%">
      <h2 style="text-decoration: underline; align-self: flex-start">
        Covid Related Information
      </h2>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="45%"
      >
        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap=".125em">
          <label for="name">Vaccination Status</label>

          <p class="light-font" *ngIf="user.isVaccinated">Vaccinated</p>
          <p class="light-font" *ngIf="!user.isVaccinated">Not Vaccinated</p>
        </div>

        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap=".125em">
          <label for="name">WFH Productivity Status</label>

          <p class="light-font">Test</p>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="45%"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="flex-start"
          fxLayoutGap=".125em"
          *ngIf="hasWFOMonthlyCap"
        >
          <label for="name">Work From Office Monthly Quota</label>

          <p class="light-font">{{ user.wfoMonthlyAllocation }} Days</p>
        </div>

        <div
          fxLayout="column"
          fxLayoutAlign="flex-start"
          fxLayoutGap=".125em"
          *ngIf="hasWFOTeam"
        >
          <label for="name">Work From Office Team</label>

          <p class="light-font">Team {{ user.alternateWfoTeam }}</p>
        </div>
      </div>
    </mat-card-group>
    <div class="profile-btn-wrap" fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-button
        class="peach-btn"
        *ngIf="!editDetailsMode"
        (click)="onCovidDeclarationsClick()"
      >
        Manage Covid Declarations
      </button>
    </div>

    <mat-card-group class="work-info-wrap" fxLayout="column" fxLayoutGap="2%">
      <h2 style="text-decoration: underline; align-self: flex-start">
        Work Related Information
      </h2>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="25%"
      >
        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap=".125em">
          <label for="name">Position</label>
          <p class="light-font">{{ user.position }}</p>
        </div>

        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap=".125em">
          <label for="name">In-charge of</label>
          <p class="light-font" *ngFor="let m of mdept">{{ m.name }}</p>
        </div>

        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap=".125em">
          <label for="name">Part of</label>
          <p class="light-font" *ngFor="let d of dept">{{ d.name }}</p>
        </div>
      </div>
    </mat-card-group>
    <div class="profile-btn-wrap" fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-button
        class="grey-btn"
        *ngIf="!editDetailsMode"
        (click)="onManageLeavesClick()"
      >
        Manage Leave Dates
      </button>
    </div>
  </mat-card>
</div>
