<p-toast></p-toast>

<div
  fxLayout="column"
  fxLayoutGap="3%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <app-navbar></app-navbar>

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="row" fxLayoutGap="2%">
      <h1 style="white-space: nowrap">
        Welcome {{ user.fullName }}, view all your goals.
      </h1>
    </div>
    <div>
      <button mat-button class="grey-btn" (click)="onBackClick()">Back</button>
    </div>
  </div>

  <div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%">
      <span class="p-input-icon-right" style="margin-top: 20px">
        <i class="pi pi-search" (click)="handleFilter()"></i>
        <input
          type="text"
          placeholder="Search Goal"
          [(ngModel)]="filterValue"
          pInputText
          (keyup)="handleFilter()"
        />
      </span>

      <button
        *ngIf="!isViewArchivedClicked && !isLoading"
        mat-button
        class="peach-btn"
        (click)="viewGoalArchives()"
      >
        View Goal Archives
      </button>
      <button
        *ngIf="isViewArchivedClicked && !isLoading"
        mat-button
        class="peach-btn"
        (click)="viewGoalArchives()"
      >
        View Unarchived Goals
      </button>
    </div>

    <mat-spinner
      *ngIf="isLoading"
      style="color: aquamarine; margin-left: 47%; margin-top: 11%"
      fxLayoutAlign=" center"
    ></mat-spinner>

    <!-- HTML for non-archived goals -->
    <mat-grid-list
      cols="3"
      gutterSize="50px"
      rowHeight="0.8:1"
      style="margin-top: 30px"
      *ngIf="!isViewArchivedClicked && !isLoading"
    >
      <div *ngFor="let goal of unarchivedGoals">
        <mat-grid-tile>
          <mat-card
            class="goalCard"
            fxLayout="column"
            fxLayoutAlign="space-evenly center"
          >
            <mat-card-title
              style="text-align: center; position: relative"
              (click)="goalToTaskNavigation(goal.goalId)"
              >{{ goal.name }}&nbsp;<mat-checkbox
                (click)="$event.preventDefault()"
                [checked]="
                  goal.completedTasks === goal.numberOfTasks &&
                  goal.numberOfTasks !== 0
                "
                [disableRipple]="true"
                color="primary"
              ></mat-checkbox>
            </mat-card-title>
            <span
              *ngIf="hasInfectedPersonnel(goal)"
              class="covid-19-indicator"
              fxLayout
              fxLayoutAlign="center center"
              ><img
                *ngIf="hasInfectedPersonnel(goal)"
                src="../../../../assets/images/covidIconBig.svg"
            /></span>

            <mat-card-subtitle
              style="text-align: center; margin-top: 20px"
              (click)="goalToTaskNavigation(goal.goalId)"
            >
              <div fxLayout="column">
                <span> Start: {{ goal.startDate | date: "dd/MM/yy" }} </span>
                <span
                  *ngIf="
                    goal.completionDate !== undefined ||
                    goal.completionDate !== null
                  "
                >
                  Completed: {{ goal.completionDate | date: "dd/MM/yy" }}
                </span>
                <span
                  *ngIf="
                    goal.completionDate === undefined ||
                    goal.completionDate === null
                  "
                  ><p>-</p></span
                >
              </div>
              <circle-progress
                [percent]="goal.goalProgress"
                subtitle="{{ goal.completedTasks }} / {{
                  goal.numberOfTasks
                }} Tasks"
              >
              </circle-progress>
            </mat-card-subtitle>

            <mat-card-actions
              fxLayout="column"
              fxLayoutAlign=" end"
              style="width: 100%"
            >
              <button mat-button (click)="editGoal(goal)">
                <img
                  class="actionIcon"
                  src="../../../../assets/images/editIcon.png"
                />
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </div>
      <mat-grid-tile>
        <mat-card
          class="goalCard"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
          (click)="openAddGoalDialog()"
        >
          <mat-card-content>Add Goal</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- HTML for Archived goals -->
    <mat-grid-list
      cols="3"
      gutterSize="50px"
      style="margin-top: 20px"
      *ngIf="isViewArchivedClicked && !isLoading"
    >
      <div *ngFor="let goal of archivedGoals">
        <mat-grid-tile>
          <mat-card
            class="goalCard"
            fxLayout="column"
            fxLayoutAlign="space-evenly center"
          >
            <mat-card-title style="text-align: center"
              >{{ goal.name }}&nbsp;<mat-checkbox color="primary"></mat-checkbox
            ></mat-card-title>
            <mat-card-subtitle style="text-align: center; margin-top: 20px">
              <div fxLayout="column">
                <span> Start: {{ goal.startDate | date: "dd/MM/yy" }} </span>
                <span> End: {{ goal.completionDate | date: "dd/MM/yy" }} </span>
              </div>
            </mat-card-subtitle>
          </mat-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
