<div>
  <label for="file">Upload File:  </label>
  <input type="file" (change)="upload($event)" accept="png, jpg, jpeg, pdf"/>
  <progress max="100" [value]="(uploadProgress)"></progress>
  <!-- <div *ngIf="isUploadComplete()">
      File successfully uploaded!
  </div> -->

</div>
<div
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="3%"
  style="margin-top: 3%; display: flex; align-items: center; justify-content: center"
>
  <button mat-button class="closeBtn" (click)="onCloseClick()">Close</button>
</div>
