<div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="5%">
  <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="4%">
    <p class="companyDetailsTitle" style="margin-bottom: 1vw">
      Company Details
    </p>
    <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="3%">
      <div
        fxLayout="row"
        fxLayoutAlign="space-around start"
        fxLayoutGap="10.6vw"
      >
        <div fxLayout="column">
          <label>Company Name</label>
          <p *ngIf="data.name !== undefined" class="paymentDetailsText">
            {{ data.name }}
          </p>
          <input
            type="text"
            *ngIf="data.name === undefined"
            [(ngModel)]="data.name"
            required
            pInputText
          />
        </div>
        <div fxLayout="column">
          <label>Company Email</label>
          <p *ngIf="data.email !== undefined" class="paymentDetailsText">
            {{ data.email }}
          </p>
          <input
            type="text"
            *ngIf="data.email === undefined"
            [(ngModel)]="data.email"
            required
            pInputText
          />
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="9.4vw">
        <div fxLayout="column">
          <label>Company Contact Number</label>
          <input
            type="text"
            [(ngModel)]="data.contactNumber"
            required
            pInputText
          />
        </div>
        <div fxLayout="column">
          <label>Number of Employees</label>
          <input
            type="number"
            [(ngModel)]="data.numOfEmployees"
            min="0"
            required
            pInputText
          />
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-around start"
        fxLayoutGap="10.5vw"
      >
        <div fxLayout="column">
          <label>Office Name</label>
          <input
            type="text"
            [(ngModel)]="data.officeName"
            min="0"
            required
            pInputText
          />
        </div>
        <div fxLayout="column">
          <label>Office Address</label>
          <textarea
            pInputTextarea
            type="text"
            [(ngModel)]="data.officeAddress"
            required
          ></textarea>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-around start"
        fxLayoutGap="10.5vw"
      >
        <div fxLayout="column">
          <label>Office Opening Hour</label>
          <input
            type="text"
            [(ngModel)]="data.officeOpeningHour"
            required
            pInputText
          />
        </div>
        <div fxLayout="column">
          <label>Office Closing Hour</label>
          <input
            type="text"
            [(ngModel)]="data.officeClosingHour"
            required
            pInputText
          />
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-around start"
        fxLayoutGap="10.5vw"
      >
        <div fxLayout="column">
          <label>Office Max Capacity</label>
          <input
            type="number"
            [(ngModel)]="data.officeCapacity"
            required
            pInputText
          />
        </div>
        <div fxLayout="column">
          <div fxLayout="column">
            <label>Company Size</label>
            <p-dropdown
              [options]="data.companySize"
              [(ngModel)]="data.companySize"
              placeholder="Select a Company Size"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="space-around start"
    fxLayoutGap="4%"
    style="width: 100%"
  >
    <p class="companyDetailsTitle">Payment Details</p>
    <div
      fxLayout="column"
      fxLayoutAlign="space-around left"
      fxLayoutGap="3%"
      class="creditCardInfoSection"
    >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <label>Payment Type: </label>
          <p class="paymentDetailsText">
            {{ company.paymentMethod }}
          </p>
        </div>
        <div>
          <label>Tier Confirmation: </label>
          <p class="paymentDetailsText">
            {{ company.subscriptionType }}
          </p>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <label>Credit Card Number: </label>
          <input
            type="text"
            [(ngModel)]="company.creditCardNumber"
            required
            pInputText
            autocomplete="cc-csc"
          />
        </div>
        <div>
          <label>CVV: </label>
          <input type="number" [(ngModel)]="company.cvv" required pInputText />
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <label>Cardholder Name: </label>
          <input
            type="text"
            [(ngModel)]="company.cardHolderName"
            required
            pInputText
            autocomplete="cc-csc"
          />
        </div>
        <div>
          <label>Date of Expiry: </label>
          <input
            type="date"
            [(ngModel)]="company.dateOfExpiry"
            style="font-family: 'Source Sans Pro'"
            required
            pInputText
            autocomplete="cc-csc"
          />
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="3%">
    <button mat-button class="btn" (click)="onSignUpClick()">Sign Up</button>
    <button mat-button class="btn" (click)="onCloseClick()">Close</button>
  </div>
</div>
