.companyDetailsTitle {
  color: rgba(var(--theme-primary-color), 0.8);
  font-family: var(--primary-font);
  font-size: 3vw;
  font-weight: bolder;
}

.companyInput {
  background: #FFFFFF;
  border: 1px solid rgb(var(--theme-primary-color));
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6.9px;
  width: 25vw;
  height: 3vw;
  text-align: center;
}

.paymentDetailsText {
  font-weight: lighter;
  font-family: var(--primary-font);
  font-size: 1.8vw;
  color: rgba(var(--theme-primary-color), 0.8);
}

.creditCardInfoSection {
  background: rgba(var(--primary-button-color), 0.2);
  border-radius: 7px;
  width: 100%;
  padding: 4%
}

.btn {
  background-color: rgba(var(--primary-button-color), 0.2);
  min-width: 8vw;
  min-height: 3.5vw;
  border-radius: 7px;
  font-family: var(--primary-font);
}

