<div
    class="navbar"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
  <div class="leftNavbar">
    <button class="homeButton" mat-fab color="basic" (click)="onCompanyLogoClick()">
      <mat-icon class="homeIcon">home</mat-icon>
    </button>
    <button class="navbarItem" mat-button>Dashboard</button>
    <button class="navbarItem" mat-icon-button [matMenuTriggerFor]="workMenu"
      #clickMenuTrigger="matMenuTrigger">
      Work
    </button>

    <mat-menu class="workDropList" #workMenu="matMenu">
      <h3 class="workDropListHeader">Work</h3>
      <hr class="headerDivider">
      <button class="workDropListItem" mat-menu-item>
        <img class ="goalIcon" src="../../../assets/images/goalIcon.png">
        <p class="workDropListItemText">Goals</p>
        <img class="arrowIcon" src="../../../assets/images/arrowIcon.png">
      </button>
      <hr class="itemDivider">
      <button class="workDropListItem" mat-menu-item>
        <img class="taskIcon" src="../../../assets/images/taskIcon.png">
        <p class="workDropListItemText">Tasks</p>
        <img class="arrowIcon" src="../../../assets/images/arrowIcon.png">
      </button>
    </mat-menu>

    <button class="navbarItem" mat-button>Calendar</button>
    <button class="navbarItem" mat-button>Feedback</button>
    <button class="navbarItem" mat-button>My Employees</button>
  </div>
    <!-- for table maybe can have a burger menu -->
  <div class="rightNavbar" >
      <button mat-button>
        <img class="notificationIcon" src="../../../assets/images/notificationIcon.png">
      </button>
      <button class="profileIcon" mat-fab color="accent" (click)="onProfileLogoClick()"></button>
  </div>
</div>
