/****** Navbar ******/
.navbar {
  padding-left: 2%;
  padding-right: 2%;
  height: 4vw;
  background-color: rgb(var(--navbar-background));
  border-radius: 15px;
}

.notificationIcon {
  height: 1.8vw;
  width: 1.9vw;
}

.profileIcon {
  height: 2.6vw;
  width: 2.6vw;
  align-self: center;
}

.homeButton {
  max-height: 3vw;
  max-width: 3vw;
  align-self: center;
}

.homeIcon {
  max-width: inherit;
  max-height: inherit;
}

.navbarItem {
  color: #003764;
  background-color: inherit;
  font-family: var(--primary-font);
  text-align: center;
  font-size: 1.1vw;
}

::ng-deep .workDropList {
  background-color: rgb(var(--navbar-droplist));
  width: 500px;
}

.workDropListHeader {
  color: rgb(var(--theme-primary-color));
  font-family: var(--primary-font);
  margin-left: 10%;
}

.headerDivider {
  width: 100%;
  height: 1px;
  background-color: rgb(var(--theme-secondary-color));
  border: none;
}

.itemDivider {
  width: 90%;
  height: 1px;
  margin-left: -5%;
  background-color: rgb(var(--theme-secondary-color));
  border: none;
}

.workDropListItem {
  display: flex;
  flex-direction: row;
}

.goalIcon {
  width: 40px;
  height: 40px;
  margin-top: 2%;
  margin-left: 2%;
}

.taskIcon {
  width: 40px;
  height: 40px;
  margin-top: 1%;
  margin-left: 2%;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-left: 130px;
}

.workDropListItemText {
  color: rgb(var(--theme-primary-color));
  font-family: var(--primary-font);
  margin-left: 10%;
}
