<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="3%"
  style="padding: 2% 2% 2% 2%"
>
  <img src="../../../../../assets/images/csvIcon.svg" />
  <h1><u>Add Employees</u></h1>
  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="5%"
    style="width: 30vw"
  >
    <p style="text-align: center">
      Choose to invite employees individually on the left column, or mass invite
      them through filling up the template which can be downloaded on the right
      column.
    </p>
    <p style="text-align: center">
      Our system will recognise the employee accounts to be created based on the
      CSV file and automatically send out invitation emails for you!
    </p>
  </div>
</div>
