<div fxLayout="column" fxLayoutGap="30px">
  <div>
    <u style="font-weight: bold; font-size: 30px">
      Goal {{ goal.name }} - Task {{ task.name }}
    </u>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutGap="20px" style="font-size: 20px">
      <div fxLayout="column" fxLayoutGap="10px">
        <div>
          <u>Start Date</u>:
          {{ task.startDate | date: "dd/MM/yy" }}
        </div>
        <div>
          <u>Deadline</u>:
          {{ task.deadline | date: "dd/MM/yy" }}
        </div>
        <div>
          <u>Completion Date</u>:
          <span
            style="font-size: 20px; color: black"
            *ngIf="task.completionDate !== null"
          >
            {{ task.completionDate | date: "dd/MM/yy" }}
          </span>
          <span
            style="font-size: 20px; color: black"
            *ngIf="!task.completionDate"
            >-</span
          >
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div><u>Task Supervisor</u>:</div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <mat-icon *ngIf="task.supervisor.isVaccinated" class="green-icon"
            >circle</mat-icon
          >
          <mat-icon *ngIf="!task.supervisor.isVaccinated" class="grey-icon"
            >circle</mat-icon
          >
          <div>{{ task.supervisor.fullName }}</div>
          <div>
            <button mat-icon-button><mat-icon>delete</mat-icon></button>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <div><u>Assigned Personnel</u>:</div>
          <div *ngFor="let employee of task.employees">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
              <mat-icon *ngIf="employee.isVaccinated" class="green-icon"
                >circle</mat-icon
              >
              <mat-icon *ngIf="!employee.isVaccinated" class="grey-icon"
                >circle</mat-icon
              >
              <div>{{ employee.fullName }}</div>
              <div>
                <button mat-icon-button><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center">
          <button mat-button (click)="toggleAssignMore()">Assign More</button>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="assignPopup" [closable]="false" [showHeader]="false">
    <p-listbox
      [options]="employees"
      [filter]="true"
      optionLabel="fullName"
      [multiple]="true"
      [(ngModel)]="selectedEmployees"
      [checkbox]="true"
    ></p-listbox>
    <button mat-button style="width: 100%" (click)="toggleAssignMore()">
      Done
    </button>
  </p-dialog>

  <button mat-button (click)="closeDialog()">close</button>
</div>
