<div fxLayout="column" fxLayoutGap="30px">
  <div>
    <h1 style="font-weight: bold; font-size: 30px">
      Goal {{ goal.name }} - Task {{ task.name }}
    </h1>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutGap="20px" style="font-size: 20px">
      <div fxLayout="column" fxLayoutGap="10px">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between start"
          fxLayoutGap="2%"
        >
          <label><u>Start Date</u>:</label>
          <p>{{ task.startDate | date: "dd/MM/yy" }}</p>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between start"
          fxLayoutGap="2%"
        >
          <label><u>Deadline</u>:</label>
          <p>
            {{ task.deadline | date: "dd/MM/yy" }}
          </p>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between start"
          fxLayoutGap="2%"
        >
          <label><u>Completion Date</u>:</label>
          <span *ngIf="task.completionDate !== null">
            <p>
              {{ task.completionDate | date: "dd/MM/yy" }}
            </p>
          </span>
          <span *ngIf="!task.completionDate"><p>-</p></span>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div>
          <label><u>Task Supervisor</u></label
          >:
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <mat-icon *ngIf="task.supervisor.isVaccinated" class="green-icon"
            >circle</mat-icon
          >
          <mat-icon *ngIf="!task.supervisor.isVaccinated" class="grey-icon"
            >circle</mat-icon
          >
          <div>{{ task.supervisor.fullName }}</div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <div>
            <label><u>Assigned Personnel</u></label
            >:
          </div>
          <div *ngFor="let employee of personnel">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
              <mat-icon *ngIf="employee.isVaccinated" class="green-icon"
                >circle</mat-icon
              >
              <mat-icon *ngIf="!employee.isVaccinated" class="grey-icon"
                >circle</mat-icon
              >
              <div>{{ employee.fullName }}</div>
              <div>
                <button mat-icon-button (click)="deleteUser(employee.userId)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center">
          <button mat-button class="peach-btn" (click)="toggleAssignMore()">
            Assign More
          </button>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="assignPopup" [closable]="false" [showHeader]="false">
    <p-listbox
      [options]="unassignedPersonnel"
      [filter]="true"
      optionLabel="fullName"
      [multiple]="true"
      [(ngModel)]="selectedEmployees"
      [checkbox]="true"
    ></p-listbox>
    <button mat-button style="width: 100%" (click)="toggleAssignMore()">
      Done
    </button>
  </p-dialog>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="3%">
    <button mat-button class="grey-btn" (click)="archive()">Archive</button>
    <button mat-button class="grey-btn" (click)="closeDialog()">Close</button>
  </div>
</div>
