<mat-spinner
  *ngIf="isLoading"
  style="color: aquamarine; margin-left: 50%; margin-top: 30vw"
  fxLayoutAlign=" center"
></mat-spinner>

<div
  *ngIf="!isLoading"
  fxLayout="column"
  fxLayoutGap="3%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <app-navbar></app-navbar>

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div class="headerText">Office Quota Configuration</div>
    <div>
      <button mat-button class="backButton" (click)="onBackClick()">
        Back
      </button>
    </div>
  </div>

  <div>
    <form
      #officeQuotaConfigForm="ngForm"
      ngNativeValidate
      name="officeQuotaConfigForm"
      (ngSubmit)="submit(officeQuotaConfigForm)"
      fxLayout="column"
      fxLayoutAlign="space-around start"
      fxLayoutGap="3%"
    >
      <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="5%">
        <label class="labelText" for="employeesAllowed"
          >Number of employees allowed in office per day:</label
        >
        <input
          matInput
          ngModel
          class="numberInput"
          name="numEmployeesPerDay"
          #numEmployeesPerDay="ngModel"
          type="number"
          [max]="31"
          [min]="0"
          [placeholder]="officeQuotaConfig.numEmployeesPerDay"
        />
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="5%">
        <label class="labelText" for="wfoDaysAllowed"
          >Number of days each employee is allowed to work from office per
          month:</label
        >
        <input
          matInput
          ngModel
          class="numberInput"
          name="numDaysAllowedPerMonth"
          #numDaysAllowedPerMonth="ngModel"
          type="number"
          [max]="31"
          [min]="0"
          [placeholder]="officeQuotaConfig.numDaysAllowedPerMonth"
        />
      </div>

      <button mat-button class="saveBtn">Save</button>
    </form>
  </div>
</div>
