<p-toast></p-toast>
<form>
  <div class="dialog-container">
    <h1>SHN/QO Declaration</h1>
    <p class="last-updated">Last updated: {{ renderLastUpdate() }}</p>
    <div class="art-status-wrapper">
      <div class="art-status {{ mcApprovalStatus() }}"></div>
      <p class="text">{{ renderMcStatus() }}</p>
    </div>
    <div class="selection-group">
      <label for="start" style="margin-right: 8px">Start date:</label>
      <input
        type="date"
        id="start"
        name="start-date"
        [value]="startDate"
        (change)="onWriteStartDate($event)"
        style="margin-right: 20px"
      />
      <label for="end" style="margin-right: 8px">End date:</label>
      <input
        type="date"
        id="end"
        name="end-date"
        [value]="endDate"
        (change)="onWriteEndDate($event)"
      />
    </div>
    <br />
    <div class="selection-group">
      <div>
        <input
          type="radio"
          id="stay-home-notice"
          name="covidSubmissionType"
          value="STAY_HOME_NOTICE"
          (click)="onClickSHN()"
          checked
        />
        <label for="stay-home-notice" style="margin-right: 8px"
          >Stay Home Notice</label
        >
      </div>
      <div>
        <input
          type="radio"
          id="quarantine-order"
          name="covidSubmissionType"
          value="QUARANTINE_ORDER"
          (click)="onClickQO()"
        />
        <label for="quarantine-order">Quarantine Order</label>
      </div>
    </div>
    <br />
    <div>
      <label for="remarks">Reason: </label>
      <input
        type="text"
        id="remarks"
        name="remarks"
        [value]="remarks"
        (change)="onWriteRemarks($event)"
      />
    </div>
    <br />
    <input
      class="custom-file-input"
      type="file"
      (change)="upload($event)"
      accept="image/*, application/pdf"
    />
    <progress max="100" [value]="uploadProgress"></progress>
    <div
      class="success-message {{
        uploadProgress === 100 ? 'visible' : 'hidden'
      }}"
    >
      File successfully uploaded!
    </div>
    <div
      class="warning-message {{
        showWarningMessage && uploadProgress !== 100 ? 'visible' : 'hidden'
      }}"
    >
      Please wait for your file to be uploaded!
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="3%"
    style="
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <button mat-button class="closeBtn" (click)="onCloseClick()">Close</button>
  </div>
</form>
