<form>
  <div *ngIf="user">
    <div class="dialog-container">
      <h1>SHN/QO Declaration</h1>
      <p class="last-updated" *ngIf="renderLastUpdate()">
        Last updated: {{ renderLastUpdate() | date: "dd/MM/yyyy" }}
      </p>
      <div class="vaccination-status-wrapper">
        <div
          class="vaccination-status {{
            user?.isVaccinated ? 'vaccinated' : 'unvaccinated'
          }}"
        ></div>
        <p class="text">{{ renderVaccinationStatus() }}</p>
      </div>
      <button
        *ngIf="user.latestMedicalCert; else noFile"
        mat-button
        class="peach-btn"
        (click)="onClickDownload()"
      >
        Download
      </button>

      <ng-template #noFile>
        <div fxLayout fxLayoutAlign="center">
          {{ user.fullName }} has not uploaded any document.
        </div>
      </ng-template>

      <br />
    </div>
    <form
      #responseForm="ngForm"
      (ngSubmit)="onSaveClick(responseForm)"
      novalidate
    >
      <div
        fxLayout
        fxLayoutAlign="center"
        *ngIf="
          documentApprovalStatus &&
          documentApprovalStatus === 'PENDING' &&
          mcs[0].employeeId !== currentUser.userId
        "
      >
        <div fxLayout="row" fxLayoutGap="5%">
          <div fxLayout="row">
            <label for="accept">Accept</label>
            <input
              id="accept"
              type="radio"
              value="accept"
              name="response"
              ngModel
            />
          </div>

          <div fxLayout="row">
            <label for="reject">Reject</label>
            <input
              id="reject"
              type="radio"
              value="reject"
              name="response"
              ngModel
            />
          </div>
        </div>
      </div>

      <div
        *ngIf="isSubmitted && invalid"
        fxLayout
        fxLayoutAlign="center"
        style="color: red"
      >
        Please select a response.
      </div>

      <div
        *ngIf="documentApprovalStatus && documentApprovalStatus === 'APPROVED'"
        fxLayout
        fxLayoutAlign="center"
      >
        Latest submission has been approved.
      </div>

      <div
        *ngIf="documentApprovalStatus && documentApprovalStatus === 'REJECTED'"
        fxLayout
        fxLayoutAlign="center"
      >
        Latest submission has been rejected.
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="3%"
        style="
          margin-top: 3%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <button
          mat-button
          class="peach-btn"
          type="submit"
          *ngIf="mcs[0] && mcs[0].employeeId !== currentUser.userId"
        >
          Save
        </button>
        <button
          mat-button
          type="button"
          class="closeBtn"
          (click)="onCloseClick()"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</form>
