<div fxLayout="column" fxLayoutGap="2%" style="width: 100%; height: 100%; padding: 2% 2% 2% 2%">
  <app-navbar></app-navbar>

  <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-spinner style="color: aquamarine; margin-top: 15%"></mat-spinner>
  </div>

  <div *ngIf="!isLoading" fxLayout="column" fxLayoutGap="2%" style="width: 100%; height: 100%; padding: 0 2%">
    <h1>Welcome {{user.fullName}}, here are your feedback records:</h1>
    <mat-card-group fxLayout="column" fxLayoutGap="5%" style="padding: 0 3vw">
      <mat-card class="beige-block" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5%">
        <h2><u>Submit New Feedback</u></h2>
      </mat-card>
    </mat-card-group>
  </div>