<p-toast></p-toast>

<div fxLayout="column" fxLayoutGap="3%" style="width: 100%; height: 100%; padding: 2% 2% 2% 2%">
  <div>
    <div fxLayout="row" fxLayoutGap="2%">
      <mat-card class="general-tab" fxLayout="column wrap" fxLayoutAlign="start start">
        <p style="font-size: 30px">
          <b>Employee Name: </b> {{ fullName }}
        </p>
        <br />
        <p style="font-size: 30px">
          <b>Employee ID: </b> {{ id }}
        </p>
        <br />
        <p style="font-size: 30px">
          <b>Contact Number: </b>{{ contactNumber }}
        </p>
        <br />
        <p style="font-size: 30px">
          <b>Email: </b>{{ email }}
        </p>
        <br />
        <p style="font-size: 30px">
          <b>Number of Leaves Taken: </b>{{ numLeavesTaken }}
        </p>
        <br />
        <p style="font-size: 30px">
          <b>Number of Days Worked In Office: </b>{{ numDaysInOffice }}
        </p>
        <br />
        <p style="font-size: 30px" pTooltip="Based on complexity of tasks completed over a period of time"
          tooltipPosition="bottom">
          <b>Productivity (per week): </b>{{ productivity }}
        </p>
      </mat-card>
    </div>
  </div>