.logo {
  max-width: 40vw;
  max-height: 20vw;
}

.indexCard {
  min-width: 30vw;
  min-height: 20vw;

  background: rgb(var(--secondary-card-color));
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.indexCardText {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: rgba(var(--theme-primary-color), 0.8);
}

