<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="3%"
  style="padding: 2% 2% 2% 2%"
>
  <div>
    <img class="logo" src="../../../assets/images/flexiworkLogo.png" />
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5%">
    <div
      class="indexCard"
      fxLayout="column"
      fxLayoutAlign=" center"
      fxLayoutGap="10%"
      style="padding: 8% 2% 2% 2%"
    >
      <h3 class="indexCardText">Employee Sign In</h3>
      <button mat-button class="indexButton" (click)="onSignInClick()">
        Sign In
      </button>
    </div>

    <div
      class="indexCard"
      fxLayout="column"
      fxLayoutAlign=" center"
      fxLayoutGap="10%"
      style="padding: 8% 2% 2% 2%"
    >
      <h3 class="indexCardText">New Registration</h3>
      <button mat-button class="indexButton" (click)="onSignUpClick()">
        Sign Up
      </button>
    </div>
  </div>
</div>
