<p-toast></p-toast>

<h1 mat-dialog-title>Change Password</h1>

<div mat-dialog-content fxLayour="row" fxLayoutGap="1%">
  <form #changePasswordForm="ngForm" (ngSubmit)="save(changePasswordForm)">
    <mat-form-field>
      <mat-label>Old Password</mat-label>
      <input
        matInput
        id="oldPassword"
        name="oldPassword"
        type="password"
        required="true"
        [(ngModel)]="oldPassword"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        matInput
        id="newPassword"
        name="newPassword"
        type="password"
        required="true"
        [(ngModel)]="newPassword"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        id="cfmPassword"
        name="cfmPassword"
        type="password"
        required="true"
        [(ngModel)]="cfmPassword"
      />
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button class="grey-btn" type="submit">Save</button>
      <button mat-button class="grey-btn" [mat-dialog-close]="true">
        Cancel
      </button>
    </div>
    <mat-error style="margin-top: 1rem">{{ message }}</mat-error>
  </form>
</div>
