.mat-dialog-title {
  margin: 0 0 20px;
  display: flex;
  justify-content: center;
}

.grey-btn {
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(0, 55, 100, 0.15);
  color: #003672;
  font-size: 16px;
  font-weight: 500;
}