<p-toast></p-toast>
<div *ngIf="company">
  <div
    fxLayout="column"
    fxLayoutGap="3%"
    style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
  >
    <app-navbar></app-navbar>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h1>Office Space Configuration</h1>
      <div>
        <button mat-button class="grey-btn" (click)="onBackClick()">
          Back
        </button>
      </div>
    </div>

    <!-- generate number of cards to show -->

    <div
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="3%"
      style="width: 100%; padding: 2% 2% 2% 2%"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="space-around center"
        class="officeDetailsCard"
      >
        <mat-card-title class="officeDetailsHeading"
          ><b>Office Details</b></mat-card-title
        >
        <div fxLayout="row" fxLayoutAlign="center">
          <table class="companyDetailsTbl">
            <tr>
              <th class="text"><b>Office Name:</b></th>
              <td class="text">{{ company.officeName }}</td>
            </tr>
            <tr>
              <th class="text"><b>Office Address:</b></th>
              <td class="text">{{ company.officeAddress }}</td>
            </tr>
            <tr>
              <th class="text"><b>Opening Hours:</b></th>
              <td class="text">
                {{ company.officeOpeningHour }} -
                {{ company.officeClosingHour }}
              </td>
            </tr>
            <tr>
              <th class="text"><b>Office Capacity:</b></th>
              <td class="text">{{ company.officeCapacity }}</td>
            </tr>
          </table>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          style="padding: 2% 2% 2% 2%"
        >
          <button
            mat-button
            class="peach-btn"
            (click)="openEditOfficeDetailsDialog()"
          >
            Edit Details
          </button>
          <p-dialog
            header="Edit Office Details"
            [(visible)]="isEditOfficeDetailsOpen"
            [breakpoints]="{ '150vw': '75vw' }"
            [draggable]="false"
            [resizable]="false"
            [style]="{ width: '50vw', height: '35vw', color: '#FAF9F6' }"
            (onHide)="closeEditOfficeDetails(officeDetailsForm)"
          >
            <form
              #officeDetailsForm="ngForm"
              ngNativeValidate
              name="officeDetailsForm"
              (ngSubmit)="submitOfficeDetailsForm(officeDetailsForm)"
            >
              <div fxLayout="column" fxLayoutAlign="space-around center">
                <table class="companyDetailsTbl">
                  <tr>
                    <th class="text">
                      <label for="officeName">Office Name:</label>
                    </th>
                    <td class="text">
                      <div>
                        <input
                          type="text"
                          [placeholder]="company.officeName"
                          name="officeName"
                          ngModel
                          #officeName="ngModel"
                          required
                          pInputText
                        />
                        <div
                          *ngIf="
                            (officeName.touched || officeName.dirty) &&
                            officeName.value.length === 0
                          "
                          class="errorText"
                          style="color: red; font-size: small"
                        >
                          Office Name cannot be empty.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="text">
                      <label for="officeAddress">Office Address:</label>
                    </th>
                    <td class="text">
                      <div>
                        <textarea
                          type="textarea"
                          style="width: 20vw"
                          [placeholder]="company.officeAddress"
                          name="officeAddress"
                          #officeAddress="ngModel"
                          ngModel
                          required
                          pInputTextarea
                        ></textarea>
                        <div
                          *ngIf="
                            (officeAddress.touched || officeAddress.dirty) &&
                            officeAddress.value.length === 0
                          "
                          class="errorText"
                          style="color: red; font-size: small"
                        >
                          Office Address cannot be empty.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="text">
                      <label>Opening Hours:</label>
                    </th>
                    <td class="text">
                      <div>
                        <input
                          type="text"
                          name="openingHour"
                          style="width: 15vw"
                          #openingHour="ngModel"
                          pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
                          ngModel
                          required
                          pInputText
                        />
                        <div
                          *ngIf="
                            (openingHour.touched || openingHour.dirty) &&
                            openingHour.value.length === 0
                          "
                          class="errorText"
                          style="color: red; font-size: small"
                        >
                          Office Opening Hour cannot be empty.
                        </div>
                        <div
                          *ngIf="
                            (openingHour.touched || openingHour.dirty) &&
                            openingHour.invalid
                          "
                          class="errorText"
                          style="color: red; font-size: small"
                        >
                          Please enter a valid Opening Hour. (00:00 - 23:59)
                        </div>
                      </div>
                    </td>
                    <td class="text">
                      <div>
                        <input
                          type="text"
                          name="closingHour"
                          style="width: 15vw"
                          #closingHour="ngModel"
                          pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
                          ngModel
                          required
                          pInputText
                        />
                        <div
                          *ngIf="
                            (closingHour.touched || closingHour.dirty) &&
                            closingHour.value.length === 0
                          "
                          class="errorText"
                          style="color: red; font-size: small"
                        >
                          Office Closing Hour cannot be empty.
                        </div>
                        <div
                          *ngIf="
                            (closingHour.touched || closingHour.dirty) &&
                            closingHour.invalid
                          "
                          class="errorText"
                          style="color: red; font-size: small"
                        >
                          Please enter a valid Closing Hour. (00:00 - 23:59)
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="text"><label>Office Capacity:</label></th>
                    <td class="text">{{ company.officeCapacity }}</td>
                  </tr>
                </table>

                <div
                  fxLayout="row"
                  fxLayoutAlign=" center"
                  fxLayoutGap="3%"
                  style="margin-top: 3%"
                >
                  <button mat-button class="peach-btn" type="submit">
                    Save Details
                  </button>
                  <button
                    mat-button
                    class="grey-btn"
                    (click)="closeEditOfficeDetails(officeDetailsForm)"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </p-dialog>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign=" center" class="roomManagementCard">
        <mat-card-title class="roomManagementHeading"
          >Room Management</mat-card-title
        >
        <div class="roomItemContainer">
          <p-dataView [value]="rooms" layout="grid">
            <ng-template
              let-room
              pTemplate="gridItem"
              style="border: 1px solid"
            >
              <div class="overridePrime">
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-between"
                  class="roomItem card"
                  (click)="openEditRoomDetailsDialog(room)"
                >
                  <div
                    fxLayout="column"
                    fxLayoutAlign="space-evenly start"
                    class="roomItemText"
                  >
                    <p style="font-weight: bolder; font-size: 22px">
                      {{ room.name }}
                    </p>
                    <p style="font-size: 18px">Location: {{ room.location }}</p>
                    <p style="font-size: 18px">Capacity: {{ room.capacity }}</p>
                  </div>
                  <div fxLayoutAlign=" end">
                    <img
                      class="actionIcon"
                      src="../../../../../assets/images/editIcon.png"
                    />
                  </div>
                </div>
              </div>
              <p-dialog
                header="Edit Room Details"
                [(visible)]="isEditRoomDetailsOpen"
                [breakpoints]="{ '150vw': '75vw' }"
                [draggable]="false"
                [resizable]="false"
                [style]="{ width: '50vw', height: '32.5vw', color: '#FAF9F6' }"
              >
                <form
                  #roomDetailsForm="ngForm"
                  name="roomDetailsForm"
                  (ngSubmit)="submitRoomDetailsForm(roomDetailsForm)"
                >
                  <div fxLayout="column" fxLayoutAlign="space-around center">
                    <table class="companyDetailsTbl">
                      <tr>
                        <th class="text">
                          <label for="name">Room Name:</label>
                        </th>
                        <td class="text">
                          <input
                            type="text"
                            placeholder="Room Name"
                            name="name"
                            #roomName="ngModel"
                            ngModel
                            pInputText
                          />
                          <div
                            *ngIf="
                              (roomName.touched || roomName.dirty) &&
                              roomName.value.length === 0
                            "
                            class="errorText"
                            style="color: red; font-size: small"
                          >
                            Room name cannot be empty.
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text">
                          <label for="location">Room Location:</label>
                        </th>
                        <td class="text">
                          <input
                            type="text"
                            placeholder="Room Location"
                            name="location"
                            style="width: 15vw"
                            #roomLocation="ngModel"
                            ngModel
                            pInputText
                          />
                          <div
                            *ngIf="
                              (roomLocation.touched || roomLocation.dirty) &&
                              roomLocation.value.length === 0
                            "
                            class="errorText"
                            style="color: red; font-size: small"
                          >
                            Room location cannot be empty.
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text">
                          <label>Room Capacity:</label>
                        </th>
                        <td class="text">
                          <input
                            type="number"
                            placeholder="Room Capacity"
                            name="capacity"
                            #roomCapacity="ngModel"
                            pattern="[1-9]\d*"
                            ngModel
                            pInputText
                          />
                          <div
                            *ngIf="
                              (roomCapacity.touched || roomCapacity.dirty) &&
                              roomCapacity.value.length == 0
                            "
                            class="errorText"
                            style="color: red; font-size: small"
                          >
                            Room capacity cannot be empty.
                          </div>
                          <div
                            *ngIf="
                              (roomCapacity.touched || roomCapacity.dirty) &&
                              roomCapacity.invalid
                            "
                            class="errorText"
                            style="color: red; font-size: small"
                          >
                            Please enter a valid room capacity.
                          </div>
                        </td>
                      </tr>
                    </table>
                    <button
                      mat-button
                      class="grey-btn"
                      style="height: 3vw"
                      (click)="deleteRoom()"
                    >
                      <p style="float: right">Delete Room</p>
                      <img
                        style="float: left"
                        class="actionIcon"
                        src="../../../../../assets/images/deleteIcon.png"
                      />
                    </button>

                    <div
                      fxLayout="row"
                      fxLayoutAlign="center"
                      fxLayoutGap="3%"
                      style="margin-top: 3%"
                    >
                      <button mat-button class="peach-btn" type="submit">
                        Save Details
                      </button>
                      <button
                        mat-button
                        class="grey-btn"
                        (click)="isEditRoomDetailsOpen = false"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </form>
              </p-dialog>
            </ng-template>
          </p-dataView>
        </div>
        <div>
          <button mat-button class="peach-btn" (click)="openAddRoomDialog()">
            Add Room
          </button>
        </div>
        <p-dialog
          header="Add a New Room"
          [(visible)]="isAddRoomOpen"
          [breakpoints]="{ '150vw': '75vw' }"
          [draggable]="false"
          [resizable]="false"
          [style]="{ width: '50vw', height: '30vw', color: '#FAF9F6' }"
        >
          <form
            #addRoomForm="ngForm"
            ngNativeValidate
            name="addRoomForm"
            (ngSubmit)="submitAddRoomForm(addRoomForm)"
          >
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <table class="companyDetailsTbl">
                <tr>
                  <th class="text">
                    <label for="name">Room Name:</label>
                  </th>
                  <td class="text">
                    <input
                      type="text"
                      placeholder="Room Name"
                      name="name"
                      required
                      #newRoomName="ngModel"
                      ngModel
                      pInputText
                    />
                    <div
                      *ngIf="
                        newRoomName.touched && newRoomName.value.length === 0
                      "
                      class="errorText"
                      style="color: red; font-size: small"
                    >
                      Room name cannot be empty.
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text">
                    <label for="location">Room Location:</label>
                  </th>
                  <td class="text">
                    <input
                      type="text"
                      placeholder="Room Location"
                      name="location"
                      style="width: 15vw"
                      required
                      #newRoomLocation="ngModel"
                      ngModel
                      pInputText
                    />
                    <div
                      *ngIf="
                        newRoomLocation.touched &&
                        newRoomLocation.value.length === 0
                      "
                      class="errorText"
                      style="color: red; font-size: small"
                    >
                      Room location cannot be empty.
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text">
                    <label for="capacity">Room Capacity:</label>
                  </th>
                  <td class="text">
                    <input
                      type="number"
                      placeholder="Room Capacity"
                      name="capacity"
                      required
                      #newRoomCapacity="ngModel"
                      pattern="[1-9]\d*"
                      ngModel
                      pInputText
                    />
                    <div
                      *ngIf="
                        newRoomCapacity.touched &&
                        newRoomCapacity.value.length == 0
                      "
                      class="errorText"
                      style="color: red; font-size: small"
                    >
                      Room capacity cannot be empty.
                    </div>
                    <div
                      *ngIf="newRoomCapacity.touched && newRoomCapacity.invalid"
                      class="errorText"
                      style="color: red; font-size: small"
                    >
                      Please enter a valid room capacity.
                    </div>
                  </td>
                </tr>
              </table>

              <div
                fxLayout="row"
                fxLayoutAlign=" center"
                fxLayoutGap="3%"
                style="margin-top: 3%"
              >
                <button mat-button class="peach-btn" type="submit">
                  Save Details
                </button>
                <button
                  mat-button
                  class="grey-btn"
                  (click)="isAddRoomOpen = false"
                >
                  Close
                </button>
              </div>
            </div>
          </form>
        </p-dialog>
      </div>
    </div>
  </div>
</div>
