<div
  fxLayout="column"
  fxLayoutGap="3%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <app-navbar></app-navbar>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="headerText">Office Space Configuration</div>
    <button mat-button class="backButton" (click)="onBackClick()">Back</button>
  </div>
  <!-- generate number of cards to show -->

  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="3%"
    style="width: 100%; padding: 2% 2% 2% 2%"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="space-around center"
      class="officeDetailsCard"
    >
      <mat-card-title class="officeDetailsHeading"
        ><b>Office Details</b></mat-card-title
      >
      <div fxLayout="row" fxLayoutAlign="center">
        <table class="companyDetailsTbl">
          <tr>
            <th class="text"><b>Office Name:</b></th>
            <td class="text">{{ officeName }}</td>
          </tr>
          <tr>
            <th class="text"><b>Office Address:</b></th>
            <td class="text">{{ officeAddress }}</td>
          </tr>
          <tr>
            <th class="text"><b>Opening Hours:</b></th>
            <td class="text">{{ officeOpeningHours }}</td>
          </tr>
          <tr>
            <th class="text"><b>Office Capacity:</b></th>
            <td class="text">{{ officeCapacity }}</td>
          </tr>
        </table>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-around center"
        style="padding: 2% 2% 2% 2%"
      >
        <button
          mat-button
          class="editBtn"
          (click)="openEditOfficeDetailsDialog()"
        >
          Edit Details
        </button>
        <p-dialog
          header="Edit Office Details"
          [(visible)]="displayEditOfficeDetails"
          [breakpoints]="{ '150vw': '75vw' }"
          [draggable]="false"
          [resizable]="false"
          [style]="{ width: '50vw', height: '30vw', color: '#FAF9F6' }"
        >
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <div>
              <form
                #officeDetailsForm="ngForm"
                (ngSubmit)="submitOfficeDetailsForm()"
              >
                <table class="companyDetailsTbl">
                  <tr>
                    <th class="text">
                      <label for="officeName">Office Name:</label>
                    </th>
                    <td class="text">
                      <input
                        type="text"
                        [placeholder]="officeName"
                        [(ngModel)]="officeName"
                        [ngModelOptions]="{ standalone: true }"
                        pInputText
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="text">
                      <label for="officeAddress">Office Address:</label>
                    </th>
                    <td class="text">
                      <textarea
                        type="textarea"
                        style="width: 20vw"
                        [placeholder]="officeAddress"
                        [(ngModel)]="officeAddress"
                        [ngModelOptions]="{ standalone: true }"
                        pInputTextarea
                      ></textarea>
                    </td>
                  </tr>
                  <tr>
                    <th class="text">
                      <label>Opening Hours:</label>
                    </th>
                    <td class="text">
                      <input
                        type="time"
                        name="openingHours"
                        style="width: 15vw"
                        [(ngModel)]="officeOpen"
                        [ngModelOptions]="{ standalone: true }"
                        pInputText
                      />
                    </td>
                    <td class="text">
                      <input
                        type="time"
                        name="closingHours"
                        style="width: 15vw"
                        [(ngModel)]="officeClose"
                        [ngModelOptions]="{ standalone: true }"
                        pInputText
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="text"><label>Office Capacity:</label></th>
                    <td class="text">64</td>
                  </tr>
                </table>
              </form>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign=" center"
              fxLayoutGap="3%"
              style="margin-top: 3%"
            >
              <button
                mat-button
                class="saveBtn"
                type="submit"
                (click)="submitOfficeDetailsForm()"
              >
                Save Details
              </button>
              <button
                mat-button
                class="closeBtn"
                (click)="displayEditOfficeDetails = false"
              >
                Close
              </button>
            </div>
          </div>
        </p-dialog>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign=" center" class="roomManagementCard">
      <mat-card-title class="roomManagementHeading"
        >Room Management</mat-card-title
      >
      <div class="roomItemContainer">
        <p-dataView [value]="rooms" layout="grid">
          <ng-template let-room pTemplate="gridItem" style="border: 1px solid">
            <div styleClass="customContainer">
              <div
                fxLayout="row"
                fxLayoutAlign="space-between"
                class="roomItem card"
                (click)="log()"
              >
                <div
                  fxLayout="column"
                  fxLayoutAlign="space-evenly start"
                  class="roomItemText"
                >
                  <p style="font-weight: bolder; font-size: 22px">
                    {{ room.roomNumber }}
                  </p>
                  <p style="font-size: 18px">Level: {{ room.roomLocation }}</p>
                  <p style="font-size: 18px">
                    Capacity: {{ room.roomCapacity }}
                  </p>
                </div>
                <div fxLayoutAlign=" end">
                  <img src="../../../../../assets/images/editIcon.png" />
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
      <div>
        <button mat-button class="addRoomBtn">Add Room</button>
      </div>
    </div>
  </div>
</div>
