.inviteEmployeeCard {
  width: 94vw;
  height: 20vw;
  background: #FAF9F6;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.employeeTableCard{
  width: 94vw;
  height: 28vw;
  background: #FAF9F6;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.deleteIcon {
  width: 1.3vw;
  height: 1.3vw
}

