<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="3%">
  <h1>Edit {{ goal.name }}</h1>
  <label>Goal Name:</label>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="name" #goalNameInput="ngModel" type="text" />
  </mat-form-field>
  <div
    *ngIf="
      goalNameInput.touched &&
      (goalNameInput.value === '' || goalNameInput.value === undefined)
    "
    class="errorText"
    style="color: red"
  >
    Goal Name cannot be empty.
  </div>
  <label>Start Date:</label>
  <mat-form-field appearance="outline">
    <input
      matInput
      [(ngModel)]="startDate"
      #meetingDateInput="ngModel"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="3%">
    <button mat-button class="peach-btn" (click)="updateGoal()">Save</button>
    <button mat-button class="grey-btn" (click)="closeDialog()">Close</button>
  </div>
</div>
