.dialogWrapper {
  width: 100%;
  height: 100%;
}

.tierInfoDialogTitle {
  color: rgb(var(--theme-primary-color));
  font-size: 2vw;
  font-family: var(--primary-font);
  font-weight: bold;
}

.tierCard {
  width: 18vw;
  height: 28vw;
  background: rgba(var(--primary-button-color), 0.2);
  border-radius: 8px;
  padding: 2%
}

.basicTierIcon {
  max-width: 6vw;
  max-height: 12vw;
}


.standardTierIcon {
  margin-top: 1vw;
  max-width: 6vw;
  max-height: 12vw;
}


.proTierIcon {
  max-width: 6vw;
  max-height: 12vw;
}



.tierFeatureText {
  color: rgb(var(--theme-primary-color));
  font-weight: lighter;
  font-family: var(--primary-font);
}

.closeButton {
  background-color: rgba(var(--primary-button-color), 0.2);
  min-width: 8vw;
  min-height: 3.5vw;
  border-radius: 7px;
  font-family: var(--primary-font);
}
