:root {
  /* Navbar */
  --navbar-background: 193, 231, 227;
  --navbar-droplist: 201, 227, 232;

  /* Colors */
  --theme-primary-color: 0, 55, 100;
  --theme-secondary-color: 229, 229, 229;
  --covid-related-color: 251, 142, 126;
  --wfo-related-color: 0, 56, 255;
  --title-color: 0, 54, 114;

  /* Buttons */
  --primary-button-color: 255, 166, 135, 0.25;
  --secondary-button-color: 229, 229, 229;
  --covid-button-color: 251, 142, 126;
  --success-button-color: 107, 200, 81;
  --warn-button-color: 255, 0, 0;
  --wfo-button-color: 0, 56, 255;

  /* Typography */
  --primary-font: "Source Sans Pro";
  --calendar-font: "Montserrat";

  /* Cards */
  --primary-card-color: 255, 166, 135;
  --secondary-card-color: 250, 249, 246;

  /* Calendar Styles */
  --event-1: 231, 254, 223;
  --event-2: 255, 251, 216;
  --event-3: 217, 248, 255;
  --event-4: 255, 225, 252;
}

/* Button Styles */
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 1.5rem;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  min-width: 6vw;
}

.grey-btn {
  font-family: var(--primary-font);
  background: rgb(var(--secondary-button-color));
  color: rgb(var(--title-color));
  font-size: 16px;
  font-weight: 500;
}

.peach-btn {
  font-family: var(--primary-font);
  background: rgb(var(--primary-button-color));
  color: rgb(var(--title-color));
  font-size: 16px;
  font-weight: 500;
}

.red-btn {
  font-family: var(--primary-font);
  background: rgb(var(--covid-button-color));
  color: rgb(var(--title-color));
  font-size: 16px;
  font-weight: 500;
}

.white-btn {
  font-family: var(--primary-font);
  background: #fff;
  color: rgb(var(--title-color));
  font-size: 16px;
  font-weight: 500;
  min-width: 6vw;
}

.blue-btn {
  font-family: var(--primary-font);
  background: rgb(var(--wfo-button-color));
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.btn-group-border {
  border: 2px solid;
  border-color: rgb(var(--primary-button-color));
  padding: 0.25rem;
  width: fit-content;
}

.btn-arrow {
  font-family: var(--primary-font);
  color: rgb(var(--title-color));
  font-size: 1.5rem;
  font-weight: 500;
}

/* Text Style Overrides */
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(var(--theme-primary-color));
  margin: initial;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.375rem;
  font-weight: 800;
  color: rgb(var(--theme-primary-color));
  margin: initial;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(var(--theme-primary-color));
  margin: initial;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  color: rgb(var(--theme-primary-color));
  font-weight: 200;
  line-height: normal;
  margin: initial;
}

span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
  color: inherit;
  font-weight: 200;
  margin: 0;
}

/* Angular Material Text Style Overrides */
.mat-card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.375rem;
  font-weight: 800;
  color: rgb(var(--theme-primary-color));
}

.mat-h2,
.mat-title,
.mat-typography h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(var(--theme-primary-color));
  margin: initial;
}

.mat-h2,
.mat-title,
.mat-typography h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.375rem;
  font-weight: 800;
  color: rgb(var(--theme-primary-color));
  margin: initial;
}

.mat-h2,
.mat-title,
.mat-typography h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(var(--theme-primary-color));
  margin: initial;
}

.mat-h2,
.mat-title,
.mat-typography label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.325rem;
  color: rgb(var(--theme-primary-color));
  font-weight: 200;
}

.mat-h2,
.mat-title,
.mat-typography p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.325rem;
  color: rgba(var(--theme-primary-color));
  font-weight: lighter;
  line-height: normal;
  margin: 0;
}

.mat-card-subtitle,
.mat-card-content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  color: rgb(var(--theme-primary-color));
  font-weight: 200;
  line-height: normal;
  margin: initial;
}

.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 14px / 20px "Source Sans Pro", sans-serif;
  letter-spacing: normal;
}

/* Angular Material Form Style Overrides */
.mat-form-field-infix {
  display: block;
  position: initial;
  flex: auto;
  min-width: 0;
  width: 180px;
}

.mat-label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  color: rgb(var(--theme-primary-color));
}

.mat-form-field-label-wrapper {
  position: absolute;
  left: 1rem;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.mat-form-field-label-wrapper {
  top: -1.5rem;
  padding-top: 0.84375em;
}

/* Angular Material Dialog Style Overrides */
.mat-dialog-title {
  margin: 0 0 20px;
  display: flex;
  justify-content: center;
}

.mat-dialog-container {
  display: block;
  padding: 2rem 4rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  overflow: initial;
  outline: 0;
  width: auto;
  height: auto;
  min-height: inherit;
  max-height: inherit;
  background-color: rgb(var(--secondary-card-color));
}

.day-card .mat-dialog-container {
  padding: 0.75rem;
  width: 30vw;
}

.meeting-card .mat-dialog-container {
  padding: 0.75rem;
  width: 20vw;
}

.room-card .mat-dialog-container {
  padding: 0.75rem;
  width: 50vw;
}

.office-card .mat-dialog-container {
  padding: 0.75rem;
  width: 80vw;
}

.edit-goal-card .mat-dialog-container {
  padding: 0.75rem;
  width: 40vw;
}

.create-goal-card .mat-dialog-container {
  padding: 0.75rem;
  width: 60vw;
}

.mat-dialog-content {
  display: block;
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
  max-height: 65vh;
  overflow: initial;
  text-align: inherit;
}

.mat-dialog-actions {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 3.25rem;
  box-sizing: content-box;
  margin-bottom: -1.5rem;
  align-items: center;
  justify-content: center;
}

.mat-form-field-infix {
  display: block;
  position: initial;
  flex: auto;
  min-width: 0;
  width: 180px;
}

.mat-label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: rgb(var(--theme-primary-color));
}

.mat-form-field-label-wrapper {
  position: absolute;
  left: 1em;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.mat-form-field-label-wrapper {
  top: -1.5em;
  padding-top: 0.84375em;
}

/** PrimeFaces Dialog Style Overrides **/
.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #333333;
  padding: 1rem;
  flex-grow: 0;
}
/** PrimeFaces Dropdown Style Overrides **/
.p-inputtext {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: rgb(var(--theme-primary-color));
  background: #ffffff;
  padding: 0.429rem 0.429rem;
  border: 1px solid rgb(var(--theme-primary-color));
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}

.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(var(--theme-primary-color)) !important;
  font-size: 1.125rem;
}

.p-dropdown .p-dropdown-label .p-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(var(--theme-primary-color)) !important;
  font-size: 1.125rem;
}

.p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #ffffff;
  border: 1.5px solid;
  border-color: rgb(var(--theme-primary-color));
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
}

/** PrimeFaces Multiselect Style Overrides **/
.p-multiselect .p-multiselect-label {
  background: transparent;
  border: 0 none;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(var(--theme-primary-color)) !important;
  font-size: 1.125rem;
}

.p-multiselect .p-multiselect-label .p-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(var(--theme-primary-color)) !important;
  font-size: 1.125rem;
}

/** Angular Calendar **/
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.cal-month-view {
  background-color: #fff;
  border: 1px solid;
  border-color: rgb(var(--theme-primary-color), 0.2);
  border-radius: 1rem;
}

.cal-month-view .cal-header .cal-cell {
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  color: rgb(var(--theme-primary-color));
  font-size: 1rem;
}

.cal-month-view .cal-day-cell {
  min-height: 8rem;
}

.cal-month-view .cal-cell-top {
  min-height: 1rem;
  flex: 1;
}

.cal-month-view .cal-days {
  border: 0;
}

.cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 100;
  color: rgb(var(--theme-primary-color));
  opacity: 1;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
  margin-bottom: 10px;
}

.cal-month-view .cal-days .cal-cell-row {
  border-top: 1px solid;
  border-top-color: rgb(var(--theme-primary-color), 0.2);
  border-bottom: 0;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: rgb(var(--theme-primary-color), 0.5);
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: transparent;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
  background: rgb(var(--primary-card-color));
  padding: 0.05em 0.35em;
  border-radius: 5rem;
  font-weight: 800;
  color: white !important;
}

.cal-month-view .cal-day-badge {
  background-color: #b94a48;
  color: #fff;
  display: none;
}

.cal-event-btn {
  font-family: var(--primary-font);
  background: rgb(var(--secondary-button-color));
  color: rgb(var(--title-color));
  line-height: 1.5rem !important;
  border-radius: 0 !important;
  text-align: left !important;
  width: 100%;
}

.cal-week-btn {
  font-family: var(--primary-font);
  background: rgb(var(--secondary-button-color));
  width: 100% !important;
  height: 100% !important;
  color: rgb(var(--title-color));
  line-height: 1.5rem !important;
  border-radius: 0 !important;
  text-align: center !important;
}
.cal-week-btn span {
  font-size: 1rem;
  font-weight: 100;
}

.cal-event-btn span {
  font-size: 1rem;
  font-weight: 100;
}

.cal-week-view .cal-header.cal-today {
  background-color: rgb(var(--primary-button-color));
}

.cal-week-view .cal-header.cal-weekend span {
  color: rgb(var(--theme-primary-color), 0.5);
}

.cal-week-view .cal-day-headers span {
  font-weight: 400;
  color: rgb(var(--theme-primary-color));
  opacity: 1;
}

.cal-week-view .cal-day-headers b {
  color: rgb(var(--theme-primary-color));
}

.cal-week-view .cal-time {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: rgb(var(--theme-primary-color));
  padding-top: 5px;
  width: 70px;
  text-align: center;
}
