:root {
  /* Navbar */
  --navbar-background: 193, 231, 227;
  --navbar-droplist: 201, 227, 232;

  /* Colors */
  --theme-primary-color: 0, 55, 100;
  --theme-secondary-color: 229,229,229;
  --covid-related-color: 251, 142, 126;
  --title-color: 0, 54, 114;

  /* Buttons */
  --primary-button-color: 255, 166, 135;
  --secondary-button-color: 229, 229, 229;
  --success-button-color: 107, 200, 81;
  --warn-button-color: 255, 0, 0;

  /* Typography */
  --primary-font: 'Source Sans Pro';
  --calendar-font: 'Montserrat';

  /* Cards */
  --primary-card-color: 255, 166, 135;
  --secondary-card-color: 250, 249, 246;

  /* Calendar Styles */
  --event-1: 231, 254, 223;
  --event-2: 255, 251, 216;
  --event-3: 217, 248, 255;
  --event-4: 255, 225, 252;
}

.mat-h2, .mat-title, .mat-typography h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #003672;
}

.mat-card-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #003672;
}

.mat-h2, .mat-title, .mat-typography h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #003672;
}

.mat-h2, .mat-title, .mat-typography label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #003672;
  font-weight: 600;
}

.mat-h2, .mat-title, .mat-typography body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #003672;
  font-weight: 200;
  margin: 0;
}

pan {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #003672;
  font-weight: 200;
  margin: 0;
}

.mat-button {
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(0, 55, 100, 0.15);
  color: #003672;
  font-size: 16px;
  font-weight: 500;
}


