.mat-h2, .mat-title, .mat-typography h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #003672;
}

.mat-card-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #003672;
}

.mat-h2, .mat-title, .mat-typography h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #003672;
}

.mat-h2, .mat-title, .mat-typography label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #003672;
  font-weight: 600;
}

.mat-h2, .mat-title, .mat-typography body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #003672;
  font-weight: 200;
  margin: 0;
}

pan {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #003672;
  font-weight: 200;
  margin: 0;
}

.mat-button {
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(0, 55, 100, 0.15);
  color: #003672;
  font-size: 16px;
  font-weight: 500;
}


