<div
  fxLayout="column"
  fxLayoutGap="3%"
  style="width: 100%; height: 100%; padding: 2% 2% 2% 2%"
>
  <app-navbar></app-navbar>

  <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%">
    <h1>Welcome {{ user.fullName }}.</h1>
    <div>
      <button mat-button class="peach-btn" (click)="onCovidDeclarationsClick()">
        Covid Declarations
      </button>
      &nbsp;
      <button mat-button class="red-btn">Close Contacts</button>
    </div>
  </div>

  <mat-card-group fxLayout="row" fxLayoutGap="5%" style="padding: 0 3vw">
    <mat-card
      class="beige-block"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="5%"
    >
      <mat-card-title> My Weekly Tasks </mat-card-title>
      <circle-progress
        [percent]="taskProgress"
        subtitle="{{ numCompleted }} / {{ weeklyTasks?.length || '0' }}"
      >
      </circle-progress>
      <mat-card
        *ngFor="let task of weeklyTasks"
        class="general-tab"
        fxLayout="column"
        fxLayoutAlign="start start"
      >
        <h2>{{ task.name }}</h2>
        <p>Goal {{ task.goalId }}</p>
        <p>Start Date: {{ task.startDate | date: "shortDate" }}</p>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between start"
          style="width: 100%"
        >
          <p>Deadline: {{ task.deadline | date: "shortDate" }}</p>
          <mat-checkbox
            (change)="handleChange(task)"
            [checked]="!!task.completionDate"
          >
          </mat-checkbox>
        </div>
      </mat-card>
    </mat-card>

    <mat-card
      class="beige-block"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="5%"
    >
      <mat-card-title> My Weekly Meetings </mat-card-title>
      <circle-progress
        [percent]="weekProgress"
        title="{{ weekday }}"
        [showSubtitle]="false"
        [showUnits]="false"
      >
      </circle-progress>
      <p style="text-align: center">
        Start: {{ startDate | date: "shortDate" }} <br />End:
        {{ endDate | date: "shortDate" }}
      </p>
      <mat-card
        *ngFor="let pMeet of physicalMeetings"
        class="general-tab"
        fxLayout="column"
        fxLayoutAlign="start start"
      >
        <h2>{{ pMeet.title }}</h2>
        <p>{{ pMeet.startTime | date: "shortDate" }}</p>
        <p>{{ pMeet.startTime | date: "shortTime" }}</p>
        <p>Room {{ pMeet.roomId }}</p>
      </mat-card>

      <mat-card
        *ngFor="let vMeet of virtualMeetings"
        class="general-tab"
        fxLayout="column"
        fxLayoutAlign="start start"
      >
        <h2>{{ vMeet.title }}</h2>
        <p>{{ vMeet.startTime | date: "shortDate" }}</p>
        <p>{{ vMeet.startTime | date: "shortTime" }}</p>
        <p>Online</p>
      </mat-card>
    </mat-card>

    <mat-card-group fxLayout="column" fxLayoutGap="5%" style="width: 100%">
      <mat-card
        class="beige-block"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="2%"
      >
        <mat-card-title> Announcements </mat-card-title>
        <mat-card
          *ngFor="let cannouncement of covidAnnouncements"
          class="covid-tab"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <p>{{ cannouncement.title }}</p>
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            style="width: 100%"
          >
            <div>
              <p>From:</p>
              <p>Date: {{ cannouncement.date | date: "shortDate" }}</p>
            </div>
            <button
              mat-button
              class="grey-btn"
              fxLayout="column"
              fxLayoutAlign="space-around center"
              (click)="viewAnnouncement(cannouncement)"
            >
              View Details
            </button>
          </div>
        </mat-card>
        <mat-card
          *ngFor="let gannouncement of generalAnnouncements"
          class="general-tab"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <p>{{ gannouncement.title }}</p>
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            style="width: 100%"
          >
            <div>
              <p>From:</p>
              <p>Date: {{ gannouncement.date | date: "shortDate" }}</p>
            </div>
            <button
              mat-button
              class="grey-btn"
              fxLayout="column"
              fxLayoutAlign="space-around center"
              (click)="viewAnnouncement(gannouncement)"
            >
              View Details
            </button>
          </div>
        </mat-card>
      </mat-card>

      <mat-card
        class="beige-block"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="5%"
      >
        <mat-card-title> My Meeting RSVPs </mat-card-title>
        <mat-card
          class="general-tab"
          fxLayout="column"
          fxLayoutAlign="start start"
          *ngFor="let pRsvp of physicalRsvps"
        >
          <h2>{{ pRsvp.title }}</h2>
          <p>{{ pRsvp.startTime | date: "shortDate" }}</p>
          <p>{{ pRsvp.startTime | date: "shortTime" }}</p>
          <p>Room {{ pRsvp.roomId }}</p>
          <br />
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="5%"
            style="width: 100%"
          >
            <button
              mat-button
              class="grey-btn"
              fxLayout="column"
              fxLayoutAlign="space-around center"
              (click)="acceptRsvp(pRsvp.meetingId, true, user.userId)"
            >
              Yes
            </button>
            <button mat-button class="grey-btn">No</button>
          </div>
        </mat-card>

        <mat-card
          class="general-tab"
          fxLayout="column"
          fxLayoutAlign="start start"
          *ngFor="let vRsvp of virtualRsvps"
        >
          <h2>{{ vRsvp.title }}</h2>
          <p>{{ vRsvp.startTime | date: "shortDate" }}</p>
          <p>{{ vRsvp.startTime | date: "shortTime" }}</p>
          <p>Online</p>
          <br />
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="5%"
            style="width: 100%"
          >
            <button
              (click)="acceptRsvp(vRsvp.meetingId, false, user.userId)"
              mat-button
              fxLayout="column"
              fxLayoutAlign="space-around center"
              class="grey-btn"
            >
              Yes
            </button>
            <button mat-button class="grey-btn">No</button>
          </div>
        </mat-card>
      </mat-card>
    </mat-card-group>
  </mat-card-group>
</div>
