<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="5%">
  <h1>Forgot Password</h1>
  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="3%">
    <label style="text-align: center">
      Please key in the email address associated with your account:
    </label>
    <input
      pInputText
      required
      [(ngModel)]="emailAddress"
      #emailText="ngModel"
      type="email"
      style="text-align: center"
      email="true"
    />
    <div
      *ngIf="emailText.invalid && emailText.touched"
      class="errorText"
      style="color: red"
    >
      A valid email is required.
    </div>
  </div>
  <button
    mat-button
    class="peach-btn"
    (click)="resetPassword()"
    [disabled]="emailText.invalid || emailAddress === ''"
  >
    Send New Password
  </button>
  <button mat-button class="grey-btn" (click)="close()">Close</button>
</div>
