<form
  #editEmployeeDetailsForm="ngForm"
  name="roomDetailsForm"
  (ngSubmit)="saveDetails(editEmployeeDetailsForm)"
>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <table class="editEmployeeDetailsTbl">
      <tr>
        <th class="text">
          <label for="fullName">Full Name:</label>
        </th>
        <td class="text">
          <input
            type="text"
            placeholder="Full Name"
            name="fullName"
            #fullName="ngModel"
            ngModel
            pInputText
          />
          <div
            *ngIf="
              (fullName.touched || fullName.dirty) &&
              fullName.value.length === 0
            "
            class="errorText"
            style="color: red; font-size: small"
          >
            Full name cannot be empty.
          </div>
        </td>
        <th>
          <label for="contactNumber">Contact Number:</label>
        </th>
        <td class="text">
          <input
            type="tel"
            placeholder="Contact Number"
            name="contactNumber"
            #contactNum="ngModel"
            pattern="[689][0-9]{7}"
            ngModel
            pInputText
          />
          <div
          *ngIf="
            contactNum.invalid && (contactNum.touched || contactNum.dirty)
          "
          class="errorText"
          style="color: red; font-size: small"
          >
          A valid 8-digit Singapore contact number is required.
          </div>
        </td>
      </tr>
      <tr>
        <th class="text">
          <label for="location">Email:</label>
        </th>
        <td class="text">
          {{ config.data.email }}
        </td>
        <th><label>Account Activated:</label></th>
        <td>{{ config.data.isActivated }}</td>
      </tr>
      <tr>
        <th class="text">
          <label>Created At:</label>
        </th>
        <td class="text">
          {{ config.data.createdAt }}
        </td>
        <th class="text">
          <label>Admin Status:</label>
        </th>
        <td class="text">
          <mat-checkbox [(ngModel)]="isAdmin" 
            name="isAdmin"
            [disabled]="this.user.userId === config.data.userId">
          </mat-checkbox>
        </td>
      </tr>
    </table>

    <div
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="3%"
      style="margin-top: 3%"
    >
      <button mat-button class="saveBtn" type="submit">Save Details</button>
      <button mat-button class="closeBtn" (click)="onCloseClick()">
        Close
      </button>
    </div>
  </div>
</form>
