.editEmployeeDetailsTbl {
  align-content: center;
  align-self: center;
  border-spacing: 50px 20px;
}

.text {
  font-size: 25px;
  font-family: var(--primary-font);
  color: rgba(var(--theme-primary-color), 0.8);
  text-align: left;
}



.saveBtn {
  font-family: var(--primary-font);
  font-size: 23px;
  font-weight: lighter;
  text-align: center;
  min-width: 70%;
  min-height: 3vw;
  background: rgba(var(--primary-button-color), 0.5);
  border-radius: 8px;
  justify-content: center;
}

.closeBtn {
  font-family: var(--primary-font);
  font-size: 23px;
  font-weight: lighter;
  text-align: center;
  min-width: 60%;
  min-height: 3vw;
  background: rgb(var(--theme-secondary-color));
  border-radius: 8px;
  align-content: center;
}

